openapi: 3.1.0
info:
  title: Google Sheets API
  description: >-
    The Google Sheets API lets you read, write, and format data in Google
    Sheets. It supports creating spreadsheets, reading and writing cell
    values, updating formatting, managing sheets within a spreadsheet, and
    working with developer metadata.
  version: v4
  termsOfService: https://developers.google.com/terms
  contact:
    name: Google Workspace Developer Support
    url: https://developers.google.com/sheets/api/support
  license:
    name: Creative Commons Attribution 4.0
    url: https://creativecommons.org/licenses/by/4.0/
externalDocs:
  description: Google Sheets API documentation
  url: https://developers.google.com/sheets/api
servers:
  - url: https://sheets.googleapis.com/v4
    description: Google Sheets API v4 production server
security:
  - oauth2: []
  - apiKey: []
tags:
  - name: developerMetadata
    description: Operations on developer metadata
  - name: Sheets
    description: Operations on individual sheets within a spreadsheet
  - name: Spreadsheets
    description: Operations on spreadsheet resources
  - name: Values
    description: Operations on spreadsheet cell values
paths:
  /spreadsheets:
    post:
      operationId: createSpreadsheet
      summary: Google Sheets Create a spreadsheet
      description: Creates a new spreadsheet, optionally with initial properties, sheets, and data.
      tags:
        - Spreadsheets
      requestBody:
        description: The spreadsheet to create.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Spreadsheet'
      responses:
        '200':
          description: Successful response containing the newly created spreadsheet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Spreadsheet'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /spreadsheets/{spreadsheetId}:
    get:
      operationId: getSpreadsheet
      summary: Google Sheets Get a spreadsheet
      description: >-
        Returns the spreadsheet at the given ID. The caller must specify the
        spreadsheet ID. By default, data within grids is not returned. You
        can include grid data in one of two ways using the fields URL
        parameter or the includeGridData query parameter.
      tags:
        - Spreadsheets
      parameters:
        - $ref: '#/components/parameters/spreadsheetId'
        - name: ranges
          in: query
          description: The ranges to retrieve from the spreadsheet.
          schema:
            type: array
            items:
              type: string
        - name: includeGridData
          in: query
          description: >-
            True if grid data should be returned. This parameter is ignored
            if a field mask was set in the request.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Successful response containing the spreadsheet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Spreadsheet'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /spreadsheets/{spreadsheetId}:batchUpdate:
    post:
      operationId: batchUpdateSpreadsheet
      summary: Google Sheets Batch update a spreadsheet
      description: >-
        Applies one or more updates to the spreadsheet. Each request is
        validated before being applied. If any request is not valid, the
        entire request will fail and nothing will be applied.
      tags:
        - Spreadsheets
      parameters:
        - $ref: '#/components/parameters/spreadsheetId'
      requestBody:
        description: The batch update request.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpdateSpreadsheetRequest'
      responses:
        '200':
          description: Successful response containing the batch update results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchUpdateSpreadsheetResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /spreadsheets/{spreadsheetId}:getByDataFilter:
    post:
      operationId: getSpreadsheetByDataFilter
      summary: Google Sheets Get a spreadsheet by data filter
      description: >-
        Returns the spreadsheet at the given ID. The caller must specify the
        spreadsheet ID. This method differs from getSpreadsheet in that it
        allows selecting which subsets of spreadsheet data to return by
        specifying a dataFilters parameter.
      tags:
        - Spreadsheets
      parameters:
        - $ref: '#/components/parameters/spreadsheetId'
      requestBody:
        description: The data filter request.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dataFilters:
                  type: array
                  description: The DataFilters used to select which ranges to retrieve from the spreadsheet.
                  items:
                    $ref: '#/components/schemas/DataFilter'
                includeGridData:
                  type: boolean
                  description: True if grid data should be returned.
                  default: false
      responses:
        '200':
          description: Successful response containing the spreadsheet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Spreadsheet'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /spreadsheets/{spreadsheetId}/values/{range}:
    get:
      operationId: getValues
      summary: Google Sheets Get values from a range
      description: >-
        Returns a range of values from a spreadsheet. The caller must specify
        the spreadsheet ID and a range.
      tags:
        - Values
      parameters:
        - $ref: '#/components/parameters/spreadsheetId'
        - $ref: '#/components/parameters/range'
        - name: majorDimension
          in: query
          description: The major dimension that results should use.
          schema:
            $ref: '#/components/schemas/Dimension'
        - name: valueRenderOption
          in: query
          description: How values should be represented in the output.
          schema:
            $ref: '#/components/schemas/ValueRenderOption'
        - name: dateTimeRenderOption
          in: query
          description: How dates, times, and durations should be represented in the output.
          schema:
            $ref: '#/components/schemas/DateTimeRenderOption'
      responses:
        '200':
          description: Successful response containing the requested values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueRange'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

    put:
      operationId: updateValues
      summary: Google Sheets Update values in a range
      description: >-
        Sets values in a range of a spreadsheet. The caller must specify the
        spreadsheet ID, range, and a valueInputOption.
      tags:
        - Values
      parameters:
        - $ref: '#/components/parameters/spreadsheetId'
        - $ref: '#/components/parameters/range'
        - name: valueInputOption
          in: query
          description: How the input data should be interpreted.
          required: true
          schema:
            $ref: '#/components/schemas/ValueInputOption'
        - name: includeValuesInResponse
          in: query
          description: Determines if the update response should include the values of the cells that were updated.
          schema:
            type: boolean
            default: false
        - name: responseValueRenderOption
          in: query
          description: Determines how values in the response should be rendered.
          schema:
            $ref: '#/components/schemas/ValueRenderOption'
        - name: responseDateTimeRenderOption
          in: query
          description: Determines how dates, times, and durations in the response should be rendered.
          schema:
            $ref: '#/components/schemas/DateTimeRenderOption'
      requestBody:
        description: The values to update.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueRange'
      responses:
        '200':
          description: Successful response containing the update result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateValuesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /spreadsheets/{spreadsheetId}/values/{range}:append:
    post:
      operationId: appendValues
      summary: Google Sheets Append values to a range
      description: >-
        Appends values to a spreadsheet. The input range is used to search
        for existing data and find a table within that range. Values will be
        appended to the next row of the table, starting with the first column
        of the table.
      tags:
        - Values
      parameters:
        - $ref: '#/components/parameters/spreadsheetId'
        - $ref: '#/components/parameters/range'
        - name: valueInputOption
          in: query
          description: How the input data should be interpreted.
          required: true
          schema:
            $ref: '#/components/schemas/ValueInputOption'
        - name: insertDataOption
          in: query
          description: How the input data should be inserted.
          schema:
            type: string
            enum:
              - OVERWRITE
              - INSERT_ROWS
        - name: includeValuesInResponse
          in: query
          description: Determines if the update response should include the values of the cells that were appended.
          schema:
            type: boolean
            default: false
        - name: responseValueRenderOption
          in: query
          description: Determines how values in the response should be rendered.
          schema:
            $ref: '#/components/schemas/ValueRenderOption'
        - name: responseDateTimeRenderOption
          in: query
          description: Determines how dates, times, and durations in the response should be rendered.
          schema:
            $ref: '#/components/schemas/DateTimeRenderOption'
      requestBody:
        description: The values to append.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueRange'
      responses:
        '200':
          description: Successful response containing the append result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppendValuesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /spreadsheets/{spreadsheetId}/values/{range}:clear:
    post:
      operationId: clearValues
      summary: Google Sheets Clear values from a range
      description: >-
        Clears values from a spreadsheet. The caller must specify the
        spreadsheet ID and range. Only values are cleared; all other
        properties of the cell (such as formatting and data validation) are
        kept.
      tags:
        - Values
      parameters:
        - $ref: '#/components/parameters/spreadsheetId'
        - $ref: '#/components/parameters/range'
      requestBody:
        description: The clear values request.
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Successful response containing the cleared range.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClearValuesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /spreadsheets/{spreadsheetId}/values:batchGet:
    get:
      operationId: batchGetValues
      summary: Google Sheets Get values from multiple ranges
      description: >-
        Returns one or more ranges of values from a spreadsheet. The caller
        must specify the spreadsheet ID and one or more ranges.
      tags:
        - Values
      parameters:
        - $ref: '#/components/parameters/spreadsheetId'
        - name: ranges
          in: query
          description: The A1 notation or R1C1 notation of the range to retrieve values from.
          required: true
          schema:
            type: array
            items:
              type: string
        - name: majorDimension
          in: query
          description: The major dimension that results should use.
          schema:
            $ref: '#/components/schemas/Dimension'
        - name: valueRenderOption
          in: query
          description: How values should be represented in the output.
          schema:
            $ref: '#/components/schemas/ValueRenderOption'
        - name: dateTimeRenderOption
          in: query
          description: How dates, times, and durations should be represented in the output.
          schema:
            $ref: '#/components/schemas/DateTimeRenderOption'
      responses:
        '200':
          description: Successful response containing the requested values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGetValuesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /spreadsheets/{spreadsheetId}/values:batchUpdate:
    post:
      operationId: batchUpdateValues
      summary: Google Sheets Update values in multiple ranges
      description: >-
        Sets values in one or more ranges of a spreadsheet. The caller must
        specify the spreadsheet ID, a valueInputOption, and one or more
        ValueRanges.
      tags:
        - Values
      parameters:
        - $ref: '#/components/parameters/spreadsheetId'
      requestBody:
        description: The batch update values request.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpdateValuesRequest'
      responses:
        '200':
          description: Successful response containing the batch update results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchUpdateValuesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /spreadsheets/{spreadsheetId}/values:batchClear:
    post:
      operationId: batchClearValues
      summary: Google Sheets Clear values from multiple ranges
      description: >-
        Clears one or more ranges of values from a spreadsheet. The caller
        must specify the spreadsheet ID and one or more ranges. Only values
        are cleared; all other properties of the cell are kept.
      tags:
        - Values
      parameters:
        - $ref: '#/components/parameters/spreadsheetId'
      requestBody:
        description: The batch clear values request.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ranges:
                  type: array
                  description: The ranges to clear in A1 or R1C1 notation.
                  items:
                    type: string
      responses:
        '200':
          description: Successful response containing the cleared ranges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchClearValuesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /spreadsheets/{spreadsheetId}/values:batchGetByDataFilter:
    post:
      operationId: batchGetValuesByDataFilter
      summary: Google Sheets Get values from ranges matching data filters
      description: >-
        Returns one or more ranges of values that match the specified data
        filters. The caller must specify the spreadsheet ID and one or more
        DataFilters. Ranges that match any of the data filters in the request
        will be returned.
      tags:
        - Values
      parameters:
        - $ref: '#/components/parameters/spreadsheetId'
      requestBody:
        description: The data filter request.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dataFilters:
                  type: array
                  description: The data filters used to match the ranges of values to retrieve.
                  items:
                    $ref: '#/components/schemas/DataFilter'
                majorDimension:
                  $ref: '#/components/schemas/Dimension'
                valueRenderOption:
                  $ref: '#/components/schemas/ValueRenderOption'
                dateTimeRenderOption:
                  $ref: '#/components/schemas/DateTimeRenderOption'
      responses:
        '200':
          description: Successful response containing the requested values.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchGetValuesByDataFilterResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /spreadsheets/{spreadsheetId}/values:batchUpdateByDataFilter:
    post:
      operationId: batchUpdateValuesByDataFilter
      summary: Google Sheets Update values in ranges matching data filters
      description: >-
        Sets values in one or more ranges of a spreadsheet matching the
        specified data filters. The caller must specify the spreadsheet ID, a
        valueInputOption, and one or more DataFilterValueRanges.
      tags:
        - Values
      parameters:
        - $ref: '#/components/parameters/spreadsheetId'
      requestBody:
        description: The data filter update request.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                valueInputOption:
                  $ref: '#/components/schemas/ValueInputOption'
                data:
                  type: array
                  description: The new values to apply to the spreadsheet.
                  items:
                    $ref: '#/components/schemas/DataFilterValueRange'
                includeValuesInResponse:
                  type: boolean
                  description: Determines if the update response should include the values of the cells that were updated.
                  default: false
                responseValueRenderOption:
                  $ref: '#/components/schemas/ValueRenderOption'
                responseDateTimeRenderOption:
                  $ref: '#/components/schemas/DateTimeRenderOption'
      responses:
        '200':
          description: Successful response containing the update results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchUpdateValuesByDataFilterResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /spreadsheets/{spreadsheetId}/values:batchClearByDataFilter:
    post:
      operationId: batchClearValuesByDataFilter
      summary: Google Sheets Clear values from ranges matching data filters
      description: >-
        Clears one or more ranges of values from a spreadsheet matching the
        specified data filters. The caller must specify the spreadsheet ID
        and one or more DataFilters.
      tags:
        - Values
      parameters:
        - $ref: '#/components/parameters/spreadsheetId'
      requestBody:
        description: The data filter clear request.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dataFilters:
                  type: array
                  description: The DataFilters used to determine which ranges to clear.
                  items:
                    $ref: '#/components/schemas/DataFilter'
      responses:
        '200':
          description: Successful response containing the cleared ranges.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchClearValuesByDataFilterResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo:
    post:
      operationId: copySheet
      summary: Google Sheets Copy a sheet to another spreadsheet
      description: >-
        Copies a single sheet from a spreadsheet to another spreadsheet.
        Returns the properties of the newly created sheet.
      tags:
        - Sheets
      parameters:
        - $ref: '#/components/parameters/spreadsheetId'
        - name: sheetId
          in: path
          description: The ID of the sheet to copy.
          required: true
          schema:
            type: integer
      requestBody:
        description: The request to copy a sheet.
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - destinationSpreadsheetId
              properties:
                destinationSpreadsheetId:
                  type: string
                  description: The ID of the spreadsheet to copy the sheet to.
      responses:
        '200':
          description: Successful response containing the properties of the copied sheet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SheetProperties'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /spreadsheets/{spreadsheetId}/developerMetadata/{metadataId}:
    get:
      operationId: getDeveloperMetadata
      summary: Google Sheets Get developer metadata
      description: >-
        Returns the developer metadata with the specified ID. The caller must
        specify the spreadsheet ID and the developer metadata's unique
        metadataId.
      tags:
        - developerMetadata
      parameters:
        - $ref: '#/components/parameters/spreadsheetId'
        - name: metadataId
          in: path
          description: The ID of the developer metadata to retrieve.
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successful response containing the developer metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeveloperMetadata'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /spreadsheets/{spreadsheetId}/developerMetadata:search:
    post:
      operationId: searchDeveloperMetadata
      summary: Google Sheets Search developer metadata
      description: >-
        Returns all developer metadata matching the specified DataFilter. If
        the provided DataFilter represents a DeveloperMetadataLookup object,
        this will return all DeveloperMetadata entries selected by it.
      tags:
        - developerMetadata
      parameters:
        - $ref: '#/components/parameters/spreadsheetId'
      requestBody:
        description: The search request.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dataFilters:
                  type: array
                  description: The data filters describing the criteria used to determine which developer metadata entries to return.
                  items:
                    $ref: '#/components/schemas/DataFilter'
      responses:
        '200':
          description: Successful response containing matching developer metadata.
          content:
            application/json:
              schema:
                type: object
                properties:
                  matchedDeveloperMetadata:
                    type: array
                    items:
                      type: object
                      properties:
                        developerMetadata:
                          $ref: '#/components/schemas/DeveloperMetadata'
                        dataFilters:
                          type: array
                          items:
                            $ref: '#/components/schemas/DataFilter'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authentication for accessing user spreadsheets.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/spreadsheets: Read and write access to all spreadsheets.
            https://www.googleapis.com/auth/spreadsheets.readonly: Read-only access to all spreadsheets.
            https://www.googleapis.com/auth/drive: Full access to Google Drive files.
            https://www.googleapis.com/auth/drive.readonly: Read-only access to Google Drive files.
            https://www.googleapis.com/auth/drive.file: Access to files created or opened by the app.
    apiKey:
      type: apiKey
      in: query
      name: key
      description: API key for accessing public spreadsheets without user authentication.

  parameters:
    spreadsheetId:
      name: spreadsheetId
      in: path
      description: The ID of the spreadsheet to retrieve or modify.
      required: true
      schema:
        type: string
    range:
      name: range
      in: path
      description: >-
        The A1 notation or R1C1 notation of the range to read or modify.
        For example, Sheet1!A1:D5 or Sheet1!R1C1:R5C4.
      required: true
      schema:
        type: string

  responses:
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: The caller does not have permission to access the requested resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested spreadsheet or range was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TooManyRequests:
      description: Rate limit exceeded. Too many requests in a given amount of time.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    Spreadsheet:
      type: object
      description: A Google Sheets spreadsheet resource.
      properties:
        spreadsheetId:
          type: string
          description: The ID of the spreadsheet. Read-only.
          readOnly: true
        properties:
          $ref: '#/components/schemas/SpreadsheetProperties'
        sheets:
          type: array
          description: The sheets that are part of a spreadsheet.
          items:
            $ref: '#/components/schemas/Sheet'
        namedRanges:
          type: array
          description: The named ranges defined in a spreadsheet.
          items:
            $ref: '#/components/schemas/NamedRange'
        spreadsheetUrl:
          type: string
          format: uri
          description: The URL of the spreadsheet. Read-only.
          readOnly: true
        developerMetadata:
          type: array
          description: The developer metadata associated with a spreadsheet.
          items:
            $ref: '#/components/schemas/DeveloperMetadata'
        dataSources:
          type: array
          description: A list of external data sources connected to the spreadsheet.
          items:
            $ref: '#/components/schemas/DataSource'
        dataSourceSchedules:
          type: array
          description: Output only. A list of data source refresh schedules.
          readOnly: true
          items:
            $ref: '#/components/schemas/DataSourceRefreshSchedule'

    SpreadsheetProperties:
      type: object
      description: Properties of a spreadsheet.
      properties:
        title:
          type: string
          description: The title of the spreadsheet.
        locale:
          type: string
          description: >-
            The locale of the spreadsheet in one of the following formats:
            an ISO 639-1 language code, an ISO 639-2 language code, or a
            combination of the ISO language code and country code (e.g. en, eng, en_US).
        autoRecalc:
          type: string
          description: The amount of time to wait before volatile functions are recalculated.
          enum:
            - ON_CHANGE
            - MINUTE
            - HOUR
        timeZone:
          type: string
          description: The time zone of the spreadsheet in CLDR format (e.g. America/New_York).
        defaultFormat:
          $ref: '#/components/schemas/CellFormat'
        iterativeCalculationSettings:
          $ref: '#/components/schemas/IterativeCalculationSettings'
        spreadsheetTheme:
          $ref: '#/components/schemas/SpreadsheetTheme'
        importFunctionsExternalUrlAccessAllowed:
          type: boolean
          description: Whether to allow external URL access for image and import functions.

    Sheet:
      type: object
      description: A sheet in a spreadsheet.
      properties:
        properties:
          $ref: '#/components/schemas/SheetProperties'
        data:
          type: array
          description: Data in the grid, if this is a grid sheet.
          items:
            $ref: '#/components/schemas/GridData'
        merges:
          type: array
          description: The ranges that are merged together.
          items:
            $ref: '#/components/schemas/GridRange'
        conditionalFormats:
          type: array
          description: The conditional format rules in this sheet.
          items:
            $ref: '#/components/schemas/ConditionalFormatRule'
        filterViews:
          type: array
          description: The filter views in this sheet.
          items:
            $ref: '#/components/schemas/FilterView'
        protectedRanges:
          type: array
          description: The protected ranges in this sheet.
          items:
            $ref: '#/components/schemas/ProtectedRange'
        basicFilter:
          $ref: '#/components/schemas/BasicFilter'
        charts:
          type: array
          description: The specifications of every chart on this sheet.
          items:
            $ref: '#/components/schemas/EmbeddedChart'
        bandedRanges:
          type: array
          description: The banded (alternating colors) ranges on this sheet.
          items:
            $ref: '#/components/schemas/BandedRange'
        slicers:
          type: array
          description: The slicers on this sheet.
          items:
            $ref: '#/components/schemas/Slicer'

    SheetProperties:
      type: object
      description: Properties of a sheet.
      properties:
        sheetId:
          type: integer
          description: The ID of the sheet. Must be non-negative. This field cannot be changed once set.
        title:
          type: string
          description: The name of the sheet.
        index:
          type: integer
          description: The index of the sheet within the spreadsheet.
        sheetType:
          type: string
          description: The type of sheet.
          enum:
            - GRID
            - OBJECT
            - DATA_SOURCE
        gridProperties:
          $ref: '#/components/schemas/GridProperties'
        hidden:
          type: boolean
          description: True if the sheet is hidden in the UI, false if visible.
        tabColor:
          $ref: '#/components/schemas/Color'
        tabColorStyle:
          $ref: '#/components/schemas/ColorStyle'
        rightToLeft:
          type: boolean
          description: True if the sheet is an RTL sheet instead of an LTR sheet.
        dataSourceSheetProperties:
          $ref: '#/components/schemas/DataSourceSheetProperties'

    GridProperties:
      type: object
      description: Properties of a grid.
      properties:
        rowCount:
          type: integer
          description: The number of rows in the grid.
        columnCount:
          type: integer
          description: The number of columns in the grid.
        frozenRowCount:
          type: integer
          description: The number of rows that are frozen in the grid.
        frozenColumnCount:
          type: integer
          description: The number of columns that are frozen in the grid.
        hideGridlines:
          type: boolean
          description: True if the grid is not showing gridlines in the UI.
        rowGroupControlAfter:
          type: boolean
          description: True if the row grouping control toggle is shown after the group.
        columnGroupControlAfter:
          type: boolean
          description: True if the column grouping control toggle is shown after the group.

    GridData:
      type: object
      description: Data in the grid, as well as metadata about the dimensions.
      properties:
        startRow:
          type: integer
          description: The first row this GridData refers to, zero-based.
        startColumn:
          type: integer
          description: The first column this GridData refers to, zero-based.
        rowData:
          type: array
          description: The data in the grid, one entry per row, starting with the row in startRow.
          items:
            $ref: '#/components/schemas/RowData'
        rowMetadata:
          type: array
          description: Metadata about the requested rows in the grid, starting with the row in startRow.
          items:
            $ref: '#/components/schemas/DimensionProperties'
        columnMetadata:
          type: array
          description: Metadata about the requested columns in the grid, starting with the column in startColumn.
          items:
            $ref: '#/components/schemas/DimensionProperties'

    RowData:
      type: object
      description: Data about each cell in a row.
      properties:
        values:
          type: array
          description: The values in the row, one per column.
          items:
            $ref: '#/components/schemas/CellData'

    CellData:
      type: object
      description: Data about a specific cell.
      properties:
        userEnteredValue:
          $ref: '#/components/schemas/ExtendedValue'
        effectiveValue:
          $ref: '#/components/schemas/ExtendedValue'
        formattedValue:
          type: string
          description: The formatted value of the cell. This is the value as it is shown to the user.
        userEnteredFormat:
          $ref: '#/components/schemas/CellFormat'
        effectiveFormat:
          $ref: '#/components/schemas/CellFormat'
        hyperlink:
          type: string
          description: A hyperlink this cell points to, if any.
        note:
          type: string
          description: Any note on the cell.
        textFormatRuns:
          type: array
          description: Runs of rich text applied to subsections of the cell.
          items:
            $ref: '#/components/schemas/TextFormatRun'
        dataValidation:
          $ref: '#/components/schemas/DataValidationRule'
        pivotTable:
          $ref: '#/components/schemas/PivotTable'
        dataSourceTable:
          $ref: '#/components/schemas/DataSourceTable'
        dataSourceFormula:
          $ref: '#/components/schemas/DataSourceFormula'

    ExtendedValue:
      type: object
      description: The kinds of value that a cell in a spreadsheet can have.
      properties:
        numberValue:
          type: number
          description: Represents a double value.
        stringValue:
          type: string
          description: Represents a string value.
        boolValue:
          type: boolean
          description: Represents a boolean value.
        formulaValue:
          type: string
          description: Represents a formula.
        errorValue:
          $ref: '#/components/schemas/ErrorValue'

    ErrorValue:
      type: object
      description: An error in a cell.
      properties:
        type:
          type: string
          description: The type of error.
          enum:
            - ERROR_TYPE_UNSPECIFIED
            - ERROR
            - NULL_VALUE
            - DIVIDE_BY_ZERO
            - VALUE
            - REF
            - NAME
            - NUM
            - N_A
            - LOADING
        message:
          type: string
          description: A message with more information about the error.

    CellFormat:
      type: object
      description: The format of a cell.
      properties:
        numberFormat:
          $ref: '#/components/schemas/NumberFormat'
        backgroundColor:
          $ref: '#/components/schemas/Color'
        backgroundColorStyle:
          $ref: '#/components/schemas/ColorStyle'
        borders:
          $ref: '#/components/schemas/Borders'
        padding:
          $ref: '#/components/schemas/Padding'
        horizontalAlignment:
          type: string
          description: The horizontal alignment of the value in the cell.
          enum:
            - HORIZONTAL_ALIGN_UNSPECIFIED
            - LEFT
            - CENTER
            - RIGHT
        verticalAlignment:
          type: string
          description: The vertical alignment of the value in the cell.
          enum:
            - VERTICAL_ALIGN_UNSPECIFIED
            - TOP
            - MIDDLE
            - BOTTOM
        wrapStrategy:
          type: string
          description: The wrap strategy for the value in the cell.
          enum:
            - WRAP_STRATEGY_UNSPECIFIED
            - OVERFLOW_CELL
            - LEGACY_WRAP
            - CLIP
            - WRAP
        textDirection:
          type: string
          description: The direction of the text in the cell.
          enum:
            - TEXT_DIRECTION_UNSPECIFIED
            - LEFT_TO_RIGHT
            - RIGHT_TO_LEFT
        textFormat:
          $ref: '#/components/schemas/TextFormat'
        hyperlinkDisplayType:
          type: string
          description: How a hyperlink, if any, should be displayed in the cell.
          enum:
            - HYPERLINK_DISPLAY_TYPE_UNSPECIFIED
            - LINKED
            - PLAIN_TEXT
        textRotation:
          $ref: '#/components/schemas/TextRotation'

    NumberFormat:
      type: object
      description: The number format of a cell.
      properties:
        type:
          type: string
          description: The type of the number format.
          enum:
            - NUMBER_FORMAT_TYPE_UNSPECIFIED
            - TEXT
            - NUMBER
            - PERCENT
            - CURRENCY
            - DATE
            - TIME
            - DATE_TIME
            - SCIENTIFIC
        pattern:
          type: string
          description: Pattern string used for formatting.

    TextFormat:
      type: object
      description: The format of a run of text in a cell.
      properties:
        foregroundColor:
          $ref: '#/components/schemas/Color'
        foregroundColorStyle:
          $ref: '#/components/schemas/ColorStyle'
        fontFamily:
          type: string
          description: The font family.
        fontSize:
          type: integer
          description: The size of the font.
        bold:
          type: boolean
          description: True if the text is bold.
        italic:
          type: boolean
          description: True if the text is italicized.
        strikethrough:
          type: boolean
          description: True if the text has a strikethrough.
        underline:
          type: boolean
          description: True if the text is underlined.
        link:
          $ref: '#/components/schemas/Link'

    TextFormatRun:
      type: object
      description: A run of a text format.
      properties:
        startIndex:
          type: integer
          description: The character index where this run starts (zero-based).
        format:
          $ref: '#/components/schemas/TextFormat'

    Link:
      type: object
      description: An external or local reference.
      properties:
        uri:
          type: string
          description: The link identifier.

    Color:
      type: object
      description: >-
        Represents a color in the RGBA color space. Values are in the range
        [0, 1].
      properties:
        red:
          type: number
          description: The amount of red in the color as a value in the range [0, 1].
        green:
          type: number
          description: The amount of green in the color as a value in the range [0, 1].
        blue:
          type: number
          description: The amount of blue in the color as a value in the range [0, 1].
        alpha:
          type: number
          description: >-
            The fraction of this color that should be applied to the pixel.
            A value of 1.0 corresponds to a solid color.

    ColorStyle:
      type: object
      description: A color value.
      properties:
        rgbColor:
          $ref: '#/components/schemas/Color'
        themeColor:
          type: string
          description: Theme color type.
          enum:
            - THEME_COLOR_TYPE_UNSPECIFIED
            - TEXT
            - BACKGROUND
            - ACCENT1
            - ACCENT2
            - ACCENT3
            - ACCENT4
            - ACCENT5
            - ACCENT6
            - LINK

    Borders:
      type: object
      description: The borders of the cell.
      properties:
        top:
          $ref: '#/components/schemas/Border'
        bottom:
          $ref: '#/components/schemas/Border'
        left:
          $ref: '#/components/schemas/Border'
        right:
          $ref: '#/components/schemas/Border'

    Border:
      type: object
      description: A border along a cell.
      properties:
        style:
          type: string
          description: The style of the border.
          enum:
            - STYLE_UNSPECIFIED
            - DOTTED
            - DASHED
            - SOLID
            - SOLID_MEDIUM
            - SOLID_THICK
            - NONE
            - DOUBLE
        width:
          type: integer
          description: The width of the border, in pixels. Deprecated; the width is determined by the style.
          deprecated: true
        color:
          $ref: '#/components/schemas/Color'
        colorStyle:
          $ref: '#/components/schemas/ColorStyle'

    Padding:
      type: object
      description: The amount of padding around the cell, in pixels.
      properties:
        top:
          type: integer
          description: The top padding of the cell.
        right:
          type: integer
          description: The right padding of the cell.
        bottom:
          type: integer
          description: The bottom padding of the cell.
        left:
          type: integer
          description: The left padding of the cell.

    TextRotation:
      type: object
      description: The rotation applied to text in a cell.
      properties:
        angle:
          type: integer
          description: >-
            The angle between the standard orientation and the desired
            orientation. Measured in degrees. Valid values are between -90
            and 90.
        vertical:
          type: boolean
          description: If true, text reads top to bottom, but the orientation of individual characters is unchanged.

    DimensionProperties:
      type: object
      description: Properties about a dimension.
      properties:
        hiddenByFilter:
          type: boolean
          description: True if this dimension is being filtered.
        hiddenByUser:
          type: boolean
          description: True if this dimension is explicitly hidden.
        pixelSize:
          type: integer
          description: The height (for rows) or width (for columns) of the dimension in pixels.
        developerMetadata:
          type: array
          description: The developer metadata associated with a single row or column.
          items:
            $ref: '#/components/schemas/DeveloperMetadata'
        dataSourceColumnReference:
          $ref: '#/components/schemas/DataSourceColumnReference'

    DataSourceColumnReference:
      type: object
      description: An unique identifier that references a data source column.
      properties:
        name:
          type: string
          description: The display name of the column.

    GridRange:
      type: object
      description: A range on a sheet. All indexes are zero-based.
      properties:
        sheetId:
          type: integer
          description: The sheet this range is on.
        startRowIndex:
          type: integer
          description: The start row (inclusive) of the range, or not set if unbounded.
        endRowIndex:
          type: integer
          description: The end row (exclusive) of the range, or not set if unbounded.
        startColumnIndex:
          type: integer
          description: The start column (inclusive) of the range, or not set if unbounded.
        endColumnIndex:
          type: integer
          description: The end column (exclusive) of the range, or not set if unbounded.

    NamedRange:
      type: object
      description: A named range.
      properties:
        namedRangeId:
          type: string
          description: The ID of the named range.
        name:
          type: string
          description: The name of the named range.
        range:
          $ref: '#/components/schemas/GridRange'

    ValueRange:
      type: object
      description: Data within a range of the spreadsheet.
      properties:
        range:
          type: string
          description: >-
            The range the values cover, in A1 notation. For output, this
            range indicates the entire requested range, even though the
            values response will include only the non-empty rows and columns.
        majorDimension:
          $ref: '#/components/schemas/Dimension'
        values:
          type: array
          description: >-
            The data that was read or to be written. This is an array of
            arrays, the outer array representing all the data and each inner
            array representing a major dimension.
          items:
            type: array
            items: {}

    Dimension:
      type: string
      description: Indicates which dimension an operation should apply to.
      enum:
        - DIMENSION_UNSPECIFIED
        - ROWS
        - COLUMNS

    ValueInputOption:
      type: string
      description: Determines how input data should be interpreted.
      enum:
        - INPUT_VALUE_OPTION_UNSPECIFIED
        - RAW
        - USER_ENTERED

    ValueRenderOption:
      type: string
      description: Determines how values should be rendered in the output.
      enum:
        - FORMATTED_VALUE
        - UNFORMATTED_VALUE
        - FORMULA

    DateTimeRenderOption:
      type: string
      description: Determines how dates, times, and durations should be rendered in the output.
      enum:
        - SERIAL_NUMBER
        - FORMATTED_STRING

    DataFilter:
      type: object
      description: Filter that describes what data should be selected or returned from a request.
      properties:
        developerMetadataLookup:
          $ref: '#/components/schemas/DeveloperMetadataLookup'
        a1Range:
          type: string
          description: Selects data that matches the specified A1 range.
        gridRange:
          $ref: '#/components/schemas/GridRange'

    DataFilterValueRange:
      type: object
      description: A range of values whose location is specified by a DataFilter.
      properties:
        dataFilter:
          $ref: '#/components/schemas/DataFilter'
        majorDimension:
          $ref: '#/components/schemas/Dimension'
        values:
          type: array
          description: The data to be written.
          items:
            type: array
            items: {}

    DeveloperMetadata:
      type: object
      description: Developer metadata associated with a location or object in a spreadsheet.
      properties:
        metadataId:
          type: integer
          description: The spreadsheet-scoped unique ID that identifies the metadata.
        metadataKey:
          type: string
          description: The metadata key.
        metadataValue:
          type: string
          description: Data associated with the metadata's key.
        location:
          $ref: '#/components/schemas/DeveloperMetadataLocation'
        visibility:
          type: string
          description: The metadata visibility.
          enum:
            - DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED
            - DOCUMENT
            - PROJECT

    DeveloperMetadataLocation:
      type: object
      description: A location where metadata may be associated in a spreadsheet.
      properties:
        locationType:
          type: string
          description: The type of location this object represents.
          enum:
            - DEVELOPER_METADATA_LOCATION_TYPE_UNSPECIFIED
            - ROW
            - COLUMN
            - SHEET
            - SPREADSHEET
        spreadsheet:
          type: boolean
          description: True when metadata is associated with an entire spreadsheet.
        sheetId:
          type: integer
          description: The ID of the sheet when metadata is associated with an entire sheet.
        dimensionRange:
          $ref: '#/components/schemas/DimensionRange'

    DeveloperMetadataLookup:
      type: object
      description: Selects DeveloperMetadata that matches all of the specified fields.
      properties:
        locationType:
          type: string
          description: Limits the selected developer metadata to that which has a matching location type.
          enum:
            - DEVELOPER_METADATA_LOCATION_TYPE_UNSPECIFIED
            - ROW
            - COLUMN
            - SHEET
            - SPREADSHEET
        metadataLocation:
          $ref: '#/components/schemas/DeveloperMetadataLocation'
        locationMatchingStrategy:
          type: string
          description: Determines how this lookup matches the location.
          enum:
            - DEVELOPER_METADATA_LOCATION_MATCHING_STRATEGY_UNSPECIFIED
            - EXACT_LOCATION
            - INTERSECTING_LOCATION
        metadataId:
          type: integer
          description: Limits the selected developer metadata to that which has a matching metadata ID.
        metadataKey:
          type: string
          description: Limits the selected developer metadata to that which has a matching metadata key.
        metadataValue:
          type: string
          description: Limits the selected developer metadata to that which has a matching metadata value.
        visibility:
          type: string
          description: Limits the selected developer metadata to that which has a matching visibility.
          enum:
            - DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED
            - DOCUMENT
            - PROJECT

    DimensionRange:
      type: object
      description: A range along a single dimension on a sheet.
      properties:
        sheetId:
          type: integer
          description: The sheet this span is on.
        dimension:
          $ref: '#/components/schemas/Dimension'
        startIndex:
          type: integer
          description: The start (inclusive) of the span.
        endIndex:
          type: integer
          description: The end (exclusive) of the span.

    DataSource:
      type: object
      description: Information about an external data source in the spreadsheet.
      properties:
        dataSourceId:
          type: string
          description: The spreadsheet-scoped unique ID that identifies the data source.
        spec:
          $ref: '#/components/schemas/DataSourceSpec'
        calculatedColumns:
          type: array
          description: All calculated columns in the data source.
          items:
            $ref: '#/components/schemas/DataSourceColumn'
        sheetId:
          type: integer
          description: The ID of the Sheet connected with the data source.

    DataSourceSpec:
      type: object
      description: This specifies the details of the data source.
      properties:
        parameters:
          type: array
          description: The parameters of the data source, used when querying the data source.
          items:
            $ref: '#/components/schemas/DataSourceParameter'
        bigQuery:
          $ref: '#/components/schemas/BigQueryDataSourceSpec'

    BigQueryDataSourceSpec:
      type: object
      description: The specification of a BigQuery data source that is connected to a sheet.
      properties:
        projectId:
          type: string
          description: The ID of a BigQuery enabled Google Cloud project with a billing account attached.
        querySpec:
          type: object
          description: A BigQueryQuerySpec.
          properties:
            rawQuery:
              type: string
              description: The raw query string.
        tableSpec:
          type: object
          description: A BigQueryTableSpec.
          properties:
            tableProjectId:
              type: string
              description: The ID of a BigQuery project the table belongs to.
            tableId:
              type: string
              description: The BigQuery table id.
            datasetId:
              type: string
              description: The BigQuery dataset id.

    DataSourceColumn:
      type: object
      description: A column in a data source.
      properties:
        reference:
          $ref: '#/components/schemas/DataSourceColumnReference'
        formula:
          type: string
          description: The formula of the calculated column.

    DataSourceParameter:
      type: object
      description: A parameter in a data source's query.
      properties:
        name:
          type: string
          description: Named parameter.
        namedRangeId:
          type: string
          description: ID of a NamedRange.
        range:
          $ref: '#/components/schemas/GridRange'

    DataSourceRefreshSchedule:
      type: object
      description: Schedule for refreshing a data source.
      properties:
        enabled:
          type: boolean
          description: True if the refresh schedule is enabled.
        refreshScope:
          type: string
          description: The scope of the refresh.
          enum:
            - DATA_SOURCE_REFRESH_SCOPE_UNSPECIFIED
            - ALL_DATA_SOURCES
        nextRun:
          type: object
          description: Output only. The time interval of the next run.
          properties:
            startTime:
              type: string
              format: date-time
            endTime:
              type: string
              format: date-time
        dailySchedule:
          type: object
          description: Daily refresh schedule.
          properties:
            startTime:
              type: object
              description: The start time of a time interval.
              properties:
                hours:
                  type: integer
                minutes:
                  type: integer
                seconds:
                  type: integer
                nanos:
                  type: integer
        weeklySchedule:
          type: object
          description: Weekly refresh schedule.
          properties:
            startTime:
              type: object
              properties:
                hours:
                  type: integer
                minutes:
                  type: integer
                seconds:
                  type: integer
                nanos:
                  type: integer
            daysOfWeek:
              type: array
              items:
                type: string
                enum:
                  - DAY_OF_WEEK_UNSPECIFIED
                  - MONDAY
                  - TUESDAY
                  - WEDNESDAY
                  - THURSDAY
                  - FRIDAY
                  - SATURDAY
                  - SUNDAY
        monthlySchedule:
          type: object
          description: Monthly refresh schedule.
          properties:
            startTime:
              type: object
              properties:
                hours:
                  type: integer
                minutes:
                  type: integer
                seconds:
                  type: integer
                nanos:
                  type: integer
            daysOfMonth:
              type: array
              items:
                type: integer

    DataSourceSheetProperties:
      type: object
      description: Additional properties of a DATA_SOURCE sheet.
      properties:
        dataSourceId:
          type: string
          description: ID of the DataSource the sheet is connected to.
        columns:
          type: array
          description: The columns displayed on the sheet.
          items:
            $ref: '#/components/schemas/DataSourceColumn'
        dataExecutionStatus:
          $ref: '#/components/schemas/DataExecutionStatus'

    DataExecutionStatus:
      type: object
      description: The data execution status.
      properties:
        state:
          type: string
          description: The state of the data execution.
          enum:
            - DATA_EXECUTION_STATE_UNSPECIFIED
            - NOT_STARTED
            - RUNNING
            - CANCELLING
            - SUCCEEDED
            - FAILED
        errorCode:
          type: string
          description: The error code.
          enum:
            - DATA_EXECUTION_ERROR_CODE_UNSPECIFIED
            - TIMED_OUT
            - TOO_MANY_ROWS
            - TOO_MANY_COLUMNS
            - TOO_MANY_CELLS
            - ENGINE
            - PARAMETER_INVALID
            - UNSUPPORTED_DATA_TYPE
            - DUPLICATE_COLUMN_NAMES
            - INTERRUPTED
            - CONCURRENT_QUERY
            - OTHER
            - TOO_MANY_CHARS_PER_CELL
            - DATA_NOT_FOUND
            - PERMISSION_DENIED
            - MISSING_COLUMN_ALIAS
            - OBJECT_NOT_FOUND
            - OBJECT_IN_ERROR_STATE
            - OBJECT_SPEC_INVALID
            - DATA_EXECUTION_CANCELLED
        errorMessage:
          type: string
          description: The error message, which may be empty.
        lastRefreshTime:
          type: string
          format: date-time
          description: Gets the time the data last successfully refreshed.

    DataSourceTable:
      type: object
      description: A data source table, which allows the user to import a static table of data from the DataSource into Sheets.
      properties:
        dataSourceId:
          type: string
          description: The ID of the data source the data source table is associated with.
        columnSelectionType:
          type: string
          description: The type to select columns for the data source table.
          enum:
            - DATA_SOURCE_TABLE_COLUMN_SELECTION_TYPE_UNSPECIFIED
            - SELECTED
            - SYNC_ALL
        columns:
          type: array
          description: Columns selected for the data source table.
          items:
            $ref: '#/components/schemas/DataSourceColumnReference'
        filterSpecs:
          type: array
          description: Filter specifications in the data source table.
          items:
            $ref: '#/components/schemas/FilterSpec'
        sortSpecs:
          type: array
          description: Sort specifications in the data source table.
          items:
            $ref: '#/components/schemas/SortSpec'
        rowLimit:
          type: integer
          description: The limit of rows to return.
        dataExecutionStatus:
          $ref: '#/components/schemas/DataExecutionStatus'

    DataSourceFormula:
      type: object
      description: A data source formula.
      properties:
        dataSourceId:
          type: string
          description: The ID of the data source the formula is associated with.
        dataExecutionStatus:
          $ref: '#/components/schemas/DataExecutionStatus'

    FilterSpec:
      type: object
      description: The filter criteria associated with a specific column.
      properties:
        filterCriteria:
          $ref: '#/components/schemas/FilterCriteria'
        columnIndex:
          type: integer
          description: The zero-based column index.
        dataSourceColumnReference:
          $ref: '#/components/schemas/DataSourceColumnReference'

    FilterCriteria:
      type: object
      description: Criteria for showing/hiding rows in a filter or filter view.
      properties:
        hiddenValues:
          type: array
          description: Values that should be hidden.
          items:
            type: string
        condition:
          $ref: '#/components/schemas/BooleanCondition'
        visibleBackgroundColor:
          $ref: '#/components/schemas/Color'
        visibleBackgroundColorStyle:
          $ref: '#/components/schemas/ColorStyle'
        visibleForegroundColor:
          $ref: '#/components/schemas/Color'
        visibleForegroundColorStyle:
          $ref: '#/components/schemas/ColorStyle'

    BooleanCondition:
      type: object
      description: A condition that can evaluate to true or false.
      properties:
        type:
          type: string
          description: The type of condition.
          enum:
            - CONDITION_TYPE_UNSPECIFIED
            - NUMBER_GREATER
            - NUMBER_GREATER_THAN_EQ
            - NUMBER_LESS
            - NUMBER_LESS_THAN_EQ
            - NUMBER_EQ
            - NUMBER_NOT_EQ
            - NUMBER_BETWEEN
            - NUMBER_NOT_BETWEEN
            - TEXT_CONTAINS
            - TEXT_NOT_CONTAINS
            - TEXT_STARTS_WITH
            - TEXT_ENDS_WITH
            - TEXT_EQ
            - TEXT_IS_EMAIL
            - TEXT_IS_URL
            - DATE_EQ
            - DATE_BEFORE
            - DATE_AFTER
            - DATE_ON_OR_BEFORE
            - DATE_ON_OR_AFTER
            - DATE_BETWEEN
            - DATE_NOT_BETWEEN
            - DATE_IS_VALID
            - ONE_OF_RANGE
            - ONE_OF_LIST
            - BLANK
            - NOT_BLANK
            - CUSTOM_FORMULA
            - BOOLEAN
            - TEXT_NOT_EQ
            - DATE_NOT_EQ
            - FILTER_EXPRESSION
        values:
          type: array
          description: >-
            The values of the condition. The number of supported values
            depends on the condition type.
          items:
            $ref: '#/components/schemas/ConditionValue'

    ConditionValue:
      type: object
      description: The value of the condition.
      properties:
        relativeDate:
          type: string
          description: A relative date.
          enum:
            - RELATIVE_DATE_UNSPECIFIED
            - PAST_YEAR
            - PAST_MONTH
            - PAST_WEEK
            - YESTERDAY
            - TODAY
            - TOMORROW
        userEnteredValue:
          type: string
          description: A value the condition is based on.

    SortSpec:
      type: object
      description: A sort order associated with a specific column or row.
      properties:
        dimensionIndex:
          type: integer
          description: The dimension the sort should be applied to.
        sortOrder:
          type: string
          description: The order data should be sorted.
          enum:
            - SORT_ORDER_UNSPECIFIED
            - ASCENDING
            - DESCENDING
        foregroundColor:
          $ref: '#/components/schemas/Color'
        foregroundColorStyle:
          $ref: '#/components/schemas/ColorStyle'
        backgroundColor:
          $ref: '#/components/schemas/Color'
        backgroundColorStyle:
          $ref: '#/components/schemas/ColorStyle'
        dataSourceColumnReference:
          $ref: '#/components/schemas/DataSourceColumnReference'

    DataValidationRule:
      type: object
      description: A data validation rule.
      properties:
        condition:
          $ref: '#/components/schemas/BooleanCondition'
        inputMessage:
          type: string
          description: A message to show the user when adding data to the cell.
        strict:
          type: boolean
          description: True if invalid data should be rejected.
        showCustomUi:
          type: boolean
          description: True if the UI should be customized based on the kind of condition.

    PivotTable:
      type: object
      description: A pivot table.
      properties:
        source:
          $ref: '#/components/schemas/GridRange'
        rows:
          type: array
          description: Each row grouping in the pivot table.
          items:
            $ref: '#/components/schemas/PivotGroup'
        columns:
          type: array
          description: Each column grouping in the pivot table.
          items:
            $ref: '#/components/schemas/PivotGroup'
        values:
          type: array
          description: A list of values to include in the pivot table.
          items:
            $ref: '#/components/schemas/PivotValue'
        criteria:
          type: object
          description: An optional mapping of filters per source column offset.
          additionalProperties:
            $ref: '#/components/schemas/PivotFilterCriteria'
        filterSpecs:
          type: array
          description: The filters applied to the source columns before aggregating data.
          items:
            $ref: '#/components/schemas/PivotFilterSpec'
        valueLayout:
          type: string
          description: Whether values should be listed horizontally or vertically.
          enum:
            - HORIZONTAL
            - VERTICAL
        dataExecutionStatus:
          $ref: '#/components/schemas/DataExecutionStatus'
        dataSourceId:
          type: string
          description: The ID of the data source the pivot table is reading data from.

    PivotGroup:
      type: object
      description: A single grouping (either row or column) in a pivot table.
      properties:
        sourceColumnOffset:
          type: integer
          description: The column offset of the source range that this grouping is based on.
        showTotals:
          type: boolean
          description: True if the pivot table should include the totals for this grouping.
        sortOrder:
          type: string
          description: The order the values in this group should be sorted.
          enum:
            - SORT_ORDER_UNSPECIFIED
            - ASCENDING
            - DESCENDING
        valueBucket:
          $ref: '#/components/schemas/PivotGroupSortValueBucket'
        repeatHeadings:
          type: boolean
          description: True if the headings in this pivot group should be repeated.
        label:
          type: string
          description: The labels to use for the row/column groups which can be customized.
        groupRule:
          $ref: '#/components/schemas/PivotGroupRule'
        groupLimit:
          $ref: '#/components/schemas/PivotGroupLimit'
        dataSourceColumnReference:
          $ref: '#/components/schemas/DataSourceColumnReference'

    PivotGroupSortValueBucket:
      type: object
      description: Information about which values in a pivot group should be used for sorting.
      properties:
        valuesIndex:
          type: integer
          description: The offset in the PivotTable.values list which the values in this grouping should be sorted by.
        buckets:
          type: array
          description: Determines the bucket from which values are chosen to sort.
          items:
            $ref: '#/components/schemas/ExtendedValue'

    PivotGroupRule:
      type: object
      description: An optional setting on a PivotGroup that defines buckets for the values in the source data column.
      properties:
        manualRule:
          type: object
          description: A ManualRule.
          properties:
            groups:
              type: array
              items:
                type: object
                properties:
                  groupName:
                    $ref: '#/components/schemas/ExtendedValue'
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExtendedValue'
        histogramRule:
          type: object
          description: A HistogramRule.
          properties:
            interval:
              type: number
            start:
              type: number
            end:
              type: number
        dateTimeRule:
          type: object
          description: A DateTimeRule.
          properties:
            type:
              type: string
              enum:
                - DATE_TIME_RULE_TYPE_UNSPECIFIED
                - SECOND
                - MINUTE
                - HOUR
                - HOUR_MINUTE
                - HOUR_MINUTE_AMPM
                - DAY_OF_YEAR
                - DAY_OF_MONTH
                - DAY_OF_WEEK
                - MONTH
                - QUARTER
                - YEAR
                - YEAR_MONTH
                - YEAR_QUARTER
                - YEAR_MONTH_DAY

    PivotGroupLimit:
      type: object
      description: The count limit on rows or columns in the pivot group.
      properties:
        countLimit:
          type: integer
          description: The count limit.
        applyOrder:
          type: integer
          description: The order in which the group limit is applied to the pivot table.

    PivotValue:
      type: object
      description: The definition of how a value in a pivot table should be calculated.
      properties:
        summarizeFunction:
          type: string
          description: A function to summarize the value.
          enum:
            - PIVOT_STANDARD_VALUE_FUNCTION_UNSPECIFIED
            - SUM
            - COUNTA
            - COUNT
            - COUNTUNIQUE
            - AVERAGE
            - MAX
            - MIN
            - MEDIAN
            - PRODUCT
            - STDEV
            - STDEVP
            - VAR
            - VARP
            - CUSTOM
        name:
          type: string
          description: A name to use for the value.
        calculatedDisplayType:
          type: string
          description: If specified, indicates that pivot values should be displayed as the result of a calculation with another pivot value.
          enum:
            - PIVOT_VALUE_CALCULATED_DISPLAY_TYPE_UNSPECIFIED
            - PERCENT_OF_ROW_TOTAL
            - PERCENT_OF_COLUMN_TOTAL
            - PERCENT_OF_GRAND_TOTAL
        sourceColumnOffset:
          type: integer
          description: The column offset of the source range that this value reads from.
        formula:
          type: string
          description: A custom formula to calculate the value.
        dataSourceColumnReference:
          $ref: '#/components/schemas/DataSourceColumnReference'

    PivotFilterCriteria:
      type: object
      description: Criteria for showing/hiding rows in a pivot table.
      properties:
        visibleValues:
          type: array
          description: Values that should be included.
          items:
            type: string
        condition:
          $ref: '#/components/schemas/BooleanCondition'
        visibleByDefault:
          type: boolean
          description: Whether values are visible by default.

    PivotFilterSpec:
      type: object
      description: The pivot table filter criteria associated with a specific source column offset.
      properties:
        filterCriteria:
          $ref: '#/components/schemas/PivotFilterCriteria'
        columnOffsetIndex:
          type: integer
          description: The zero-based column offset of the source range.
        dataSourceColumnReference:
          $ref: '#/components/schemas/DataSourceColumnReference'

    ConditionalFormatRule:
      type: object
      description: A rule describing a conditional format.
      properties:
        ranges:
          type: array
          description: The ranges that are formatted if the condition is true.
          items:
            $ref: '#/components/schemas/GridRange'
        booleanRule:
          type: object
          description: The formatting is either on or off according to the rule.
          properties:
            condition:
              $ref: '#/components/schemas/BooleanCondition'
            format:
              $ref: '#/components/schemas/CellFormat'
        gradientRule:
          type: object
          description: The formatting will vary based on the gradients in the rule.
          properties:
            minpoint:
              $ref: '#/components/schemas/InterpolationPoint'
            midpoint:
              $ref: '#/components/schemas/InterpolationPoint'
            maxpoint:
              $ref: '#/components/schemas/InterpolationPoint'

    InterpolationPoint:
      type: object
      description: A single interpolation point on a gradient conditional format.
      properties:
        color:
          $ref: '#/components/schemas/Color'
        colorStyle:
          $ref: '#/components/schemas/ColorStyle'
        type:
          type: string
          description: How the value should be interpreted.
          enum:
            - INTERPOLATION_POINT_TYPE_UNSPECIFIED
            - MIN
            - MAX
            - NUMBER
            - PERCENT
            - PERCENTILE
        value:
          type: string
          description: The value this interpolation point uses.

    FilterView:
      type: object
      description: A filter view.
      properties:
        filterViewId:
          type: integer
          description: The ID of the filter view.
        title:
          type: string
          description: The name of the filter view.
        range:
          $ref: '#/components/schemas/GridRange'
        namedRangeId:
          type: string
          description: The named range this filter view is backed by, if any.
        sortSpecs:
          type: array
          description: The sort order per column.
          items:
            $ref: '#/components/schemas/SortSpec'
        criteria:
          type: object
          description: The criteria for showing/hiding values per column.
          additionalProperties:
            $ref: '#/components/schemas/FilterCriteria'
        filterSpecs:
          type: array
          description: The filter criteria for showing/hiding values per column.
          items:
            $ref: '#/components/schemas/FilterSpec'

    ProtectedRange:
      type: object
      description: A protected range.
      properties:
        protectedRangeId:
          type: integer
          description: The ID of the protected range.
        range:
          $ref: '#/components/schemas/GridRange'
        namedRangeId:
          type: string
          description: The named range this protected range is backed by, if any.
        description:
          type: string
          description: The description of this protected range.
        warningOnly:
          type: boolean
          description: True if this protected range will show a warning when editing.
        requestingUserCanEdit:
          type: boolean
          description: True if the user who requested this protected range can edit the protected area.
        unprotectedRanges:
          type: array
          description: The list of unprotected ranges within a protected sheet.
          items:
            $ref: '#/components/schemas/GridRange'
        editors:
          type: object
          description: The users and groups with edit access to the protected range.
          properties:
            users:
              type: array
              items:
                type: string
            groups:
              type: array
              items:
                type: string
            domainUsersCanEdit:
              type: boolean

    BasicFilter:
      type: object
      description: The default filter associated with a sheet.
      properties:
        range:
          $ref: '#/components/schemas/GridRange'
        sortSpecs:
          type: array
          description: The sort order per column.
          items:
            $ref: '#/components/schemas/SortSpec'
        criteria:
          type: object
          description: The criteria for showing/hiding values per column.
          additionalProperties:
            $ref: '#/components/schemas/FilterCriteria'
        filterSpecs:
          type: array
          description: The filter criteria per column.
          items:
            $ref: '#/components/schemas/FilterSpec'

    EmbeddedChart:
      type: object
      description: A chart embedded in a sheet.
      properties:
        chartId:
          type: integer
          description: The ID of the chart.
        position:
          $ref: '#/components/schemas/EmbeddedObjectPosition'
        spec:
          type: object
          description: The specification of the chart.

    EmbeddedObjectPosition:
      type: object
      description: The position of an embedded object such as a chart.
      properties:
        sheetId:
          type: integer
          description: The sheet this is on.
        overlayPosition:
          type: object
          description: The position at which the object is overlaid on top of a grid.
          properties:
            anchorCell:
              $ref: '#/components/schemas/GridCoordinate'
            offsetXPixels:
              type: integer
            offsetYPixels:
              type: integer
            widthPixels:
              type: integer
            heightPixels:
              type: integer
        newSheet:
          type: boolean
          description: If true, the embedded object is put on a new sheet whose ID is chosen for you.

    GridCoordinate:
      type: object
      description: A coordinate in a sheet.
      properties:
        sheetId:
          type: integer
          description: The sheet this coordinate is on.
        rowIndex:
          type: integer
          description: The row index of the coordinate.
        columnIndex:
          type: integer
          description: The column index of the coordinate.

    BandedRange:
      type: object
      description: A banded (alternating colors) range in a sheet.
      properties:
        bandedRangeId:
          type: integer
          description: The ID of the banded range.
        range:
          $ref: '#/components/schemas/GridRange'
        rowProperties:
          $ref: '#/components/schemas/BandingProperties'
        columnProperties:
          $ref: '#/components/schemas/BandingProperties'

    BandingProperties:
      type: object
      description: Properties referring a single dimension (either row or column).
      properties:
        headerColor:
          $ref: '#/components/schemas/Color'
        headerColorStyle:
          $ref: '#/components/schemas/ColorStyle'
        firstBandColor:
          $ref: '#/components/schemas/Color'
        firstBandColorStyle:
          $ref: '#/components/schemas/ColorStyle'
        secondBandColor:
          $ref: '#/components/schemas/Color'
        secondBandColorStyle:
          $ref: '#/components/schemas/ColorStyle'
        footerColor:
          $ref: '#/components/schemas/Color'
        footerColorStyle:
          $ref: '#/components/schemas/ColorStyle'

    Slicer:
      type: object
      description: A slicer in a sheet.
      properties:
        slicerId:
          type: integer
          description: The ID of the slicer.
        spec:
          type: object
          description: The specification of the slicer.
          properties:
            dataRange:
              $ref: '#/components/schemas/GridRange'
            filterCriteria:
              $ref: '#/components/schemas/FilterCriteria'
            columnIndex:
              type: integer
            applyToPivotTables:
              type: boolean
            title:
              type: string
            textFormat:
              $ref: '#/components/schemas/TextFormat'
            backgroundColor:
              $ref: '#/components/schemas/Color'
            backgroundColorStyle:
              $ref: '#/components/schemas/ColorStyle'
            horizontalAlignment:
              type: string
              enum:
                - HORIZONTAL_ALIGN_UNSPECIFIED
                - LEFT
                - CENTER
                - RIGHT
        position:
          $ref: '#/components/schemas/EmbeddedObjectPosition'

    IterativeCalculationSettings:
      type: object
      description: Settings to control how circular dependencies are resolved with iterative calculation.
      properties:
        maxIterations:
          type: integer
          description: When iterative calculation is enabled, the maximum number of calculation rounds to perform.
        convergenceThreshold:
          type: number
          description: When iterative calculation is enabled and successive results differ by less than this threshold value, the calculation rounds stop.

    SpreadsheetTheme:
      type: object
      description: Represents spreadsheet theme.
      properties:
        primaryFontFamily:
          type: string
          description: Name of the primary font family.
        themeColors:
          type: array
          description: The spreadsheet theme color pairs.
          items:
            type: object
            properties:
              colorType:
                type: string
                enum:
                  - THEME_COLOR_TYPE_UNSPECIFIED
                  - TEXT
                  - BACKGROUND
                  - ACCENT1
                  - ACCENT2
                  - ACCENT3
                  - ACCENT4
                  - ACCENT5
                  - ACCENT6
                  - LINK
              color:
                $ref: '#/components/schemas/ColorStyle'

    BatchUpdateSpreadsheetRequest:
      type: object
      description: The request for updating any aspect of a spreadsheet.
      properties:
        requests:
          type: array
          description: A list of updates to apply to the spreadsheet.
          items:
            type: object
            description: >-
              A single kind of update to apply to a spreadsheet. The specific
              update type is determined by which field is set.
        includeSpreadsheetInResponse:
          type: boolean
          description: Determines if the update response should include the spreadsheet resource.
          default: false
        responseRanges:
          type: array
          description: Limits the ranges included in the response spreadsheet.
          items:
            type: string
        responseIncludeGridData:
          type: boolean
          description: True if grid data should be returned.
          default: false

    BatchUpdateSpreadsheetResponse:
      type: object
      description: The reply for batch updating a spreadsheet.
      properties:
        spreadsheetId:
          type: string
          description: The spreadsheet the updates were applied to.
        replies:
          type: array
          description: The reply of the updates.
          items:
            type: object
            description: A single response from an update.
        updatedSpreadsheet:
          $ref: '#/components/schemas/Spreadsheet'

    UpdateValuesResponse:
      type: object
      description: The response when updating a range of values in a spreadsheet.
      properties:
        spreadsheetId:
          type: string
          description: The spreadsheet the updates were applied to.
        updatedRange:
          type: string
          description: The range (in A1 notation) that updates were applied to.
        updatedRows:
          type: integer
          description: The number of rows where at least one cell in the row was updated.
        updatedColumns:
          type: integer
          description: The number of columns where at least one cell in the column was updated.
        updatedCells:
          type: integer
          description: The number of cells updated.
        updatedData:
          $ref: '#/components/schemas/ValueRange'

    AppendValuesResponse:
      type: object
      description: The response when updating a range of values by appending.
      properties:
        spreadsheetId:
          type: string
          description: The spreadsheet the updates were applied to.
        tableRange:
          type: string
          description: The range (in A1 notation) of the table that values are being appended to.
        updates:
          $ref: '#/components/schemas/UpdateValuesResponse'

    ClearValuesResponse:
      type: object
      description: The response when clearing a range of values in a spreadsheet.
      properties:
        spreadsheetId:
          type: string
          description: The spreadsheet the updates were applied to.
        clearedRange:
          type: string
          description: The range (in A1 notation) that was cleared.

    BatchGetValuesResponse:
      type: object
      description: The response when retrieving more than one range of values in a spreadsheet.
      properties:
        spreadsheetId:
          type: string
          description: The ID of the spreadsheet the data was retrieved from.
        valueRanges:
          type: array
          description: The requested ranges of values.
          items:
            $ref: '#/components/schemas/ValueRange'

    BatchUpdateValuesRequest:
      type: object
      description: The request for updating more than one range of values in a spreadsheet.
      properties:
        valueInputOption:
          $ref: '#/components/schemas/ValueInputOption'
        data:
          type: array
          description: The new values to apply to the spreadsheet.
          items:
            $ref: '#/components/schemas/ValueRange'
        includeValuesInResponse:
          type: boolean
          description: Determines if the update response should include the values of the cells that were updated.
          default: false
        responseValueRenderOption:
          $ref: '#/components/schemas/ValueRenderOption'
        responseDateTimeRenderOption:
          $ref: '#/components/schemas/DateTimeRenderOption'

    BatchUpdateValuesResponse:
      type: object
      description: The response when updating a range of values in a spreadsheet.
      properties:
        spreadsheetId:
          type: string
          description: The spreadsheet the updates were applied to.
        totalUpdatedRows:
          type: integer
          description: The total number of rows where at least one cell in the row was updated.
        totalUpdatedColumns:
          type: integer
          description: The total number of columns where at least one cell in the column was updated.
        totalUpdatedCells:
          type: integer
          description: The total number of cells updated.
        totalUpdatedSheets:
          type: integer
          description: The total number of sheets where at least one cell in the sheet was updated.
        responses:
          type: array
          description: One UpdateValuesResponse per requested range, in the same order as the requests appeared.
          items:
            $ref: '#/components/schemas/UpdateValuesResponse'

    BatchClearValuesResponse:
      type: object
      description: The response when clearing a range of values in a spreadsheet.
      properties:
        spreadsheetId:
          type: string
          description: The spreadsheet the updates were applied to.
        clearedRanges:
          type: array
          description: The ranges that were cleared, in A1 notation.
          items:
            type: string

    BatchGetValuesByDataFilterResponse:
      type: object
      description: The response when retrieving more than one range of values in a spreadsheet selected by DataFilters.
      properties:
        spreadsheetId:
          type: string
          description: The ID of the spreadsheet the data was retrieved from.
        valueRanges:
          type: array
          description: The requested values with the list of data filters that matched them.
          items:
            type: object
            properties:
              valueRange:
                $ref: '#/components/schemas/ValueRange'
              dataFilters:
                type: array
                items:
                  $ref: '#/components/schemas/DataFilter'

    BatchUpdateValuesByDataFilterResponse:
      type: object
      description: The response when updating a range of values in a spreadsheet by data filter.
      properties:
        spreadsheetId:
          type: string
          description: The spreadsheet the updates were applied to.
        totalUpdatedRows:
          type: integer
        totalUpdatedColumns:
          type: integer
        totalUpdatedCells:
          type: integer
        totalUpdatedSheets:
          type: integer
        responses:
          type: array
          items:
            type: object
            properties:
              updatedRange:
                type: string
              updatedRows:
                type: integer
              updatedColumns:
                type: integer
              updatedCells:
                type: integer
              updatedData:
                $ref: '#/components/schemas/ValueRange'
              dataFilter:
                $ref: '#/components/schemas/DataFilter'

    BatchClearValuesByDataFilterResponse:
      type: object
      description: The response when clearing a range of values selected by DataFilters in a spreadsheet.
      properties:
        spreadsheetId:
          type: string
          description: The spreadsheet the updates were applied to.
        clearedRanges:
          type: array
          description: The ranges that were cleared, in A1 notation.
          items:
            type: string

    ErrorResponse:
      type: object
      description: An error response from the API.
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
              description: The HTTP status code.
            message:
              type: string
              description: A human-readable error message.
            status:
              type: string
              description: The status of the error.
            details:
              type: array
              description: Additional error details.
              items:
                type: object
