openapi: 3.1.0
info:
  title: Google Sheets developerMetadata Spreadsheets API
  description: The Google Sheets API lets you read, write, and format data in Google Sheets. It supports creating spreadsheets, reading and writing cell values, updating formatting, managing sheets within a spreadsheet, and working with developer metadata.
  version: v4
  termsOfService: https://developers.google.com/terms
  contact:
    name: Google Workspace Developer Support
    url: https://developers.google.com/sheets/api/support
  license:
    name: Creative Commons Attribution 4.0
    url: https://creativecommons.org/licenses/by/4.0/
servers:
- url: https://sheets.googleapis.com/v4
  description: Google Sheets API v4 production server
security:
- oauth2: []
- apiKey: []
tags:
- name: Spreadsheets
  description: Operations on spreadsheet resources
paths:
  /spreadsheets:
    post:
      operationId: createSpreadsheet
      summary: Google Sheets Create a Spreadsheet
      description: Creates a new spreadsheet, optionally with initial properties, sheets, and data.
      tags:
      - Spreadsheets
      requestBody:
        description: The spreadsheet to create.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Spreadsheet'
            examples:
              CreatespreadsheetRequestExample:
                summary: Default createSpreadsheet request
                x-microcks-default: true
                value:
                  spreadsheetId: '500123'
                  properties:
                    title: Example Title
                    locale: example_value
                    autoRecalc: ON_CHANGE
                    timeZone: example_value
                    importFunctionsExternalUrlAccessAllowed: https://www.example.com
                  sheets:
                  - data: {}
                    merges: {}
                    conditionalFormats: {}
                    filterViews: {}
                    protectedRanges: {}
                    charts: {}
                    bandedRanges: {}
                    slicers: {}
                  namedRanges:
                  - namedRangeId: '500123'
                    name: Example Title
                  spreadsheetUrl: https://www.example.com
                  developerMetadata:
                  - metadataId: '500123'
                    metadataKey: example_value
                    metadataValue: example_value
                    visibility: DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED
                  dataSources:
                  - dataSourceId: '500123'
                    calculatedColumns: {}
                    sheetId: '500123'
                  dataSourceSchedules:
                  - enabled: true
                    refreshScope: DATA_SOURCE_REFRESH_SCOPE_UNSPECIFIED
                    nextRun: {}
                    dailySchedule: {}
                    weeklySchedule: {}
                    monthlySchedule: {}
      responses:
        '200':
          description: Successful response containing the newly created spreadsheet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Spreadsheet'
              examples:
                Createspreadsheet200Example:
                  summary: Default createSpreadsheet 200 response
                  x-microcks-default: true
                  value:
                    spreadsheetId: '500123'
                    properties:
                      title: Example Title
                      locale: example_value
                      autoRecalc: ON_CHANGE
                      timeZone: example_value
                      importFunctionsExternalUrlAccessAllowed: https://www.example.com
                    sheets:
                    - data: {}
                      merges: {}
                      conditionalFormats: {}
                      filterViews: {}
                      protectedRanges: {}
                      charts: {}
                      bandedRanges: {}
                      slicers: {}
                    namedRanges:
                    - namedRangeId: '500123'
                      name: Example Title
                    spreadsheetUrl: https://www.example.com
                    developerMetadata:
                    - metadataId: '500123'
                      metadataKey: example_value
                      metadataValue: example_value
                      visibility: DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED
                    dataSources:
                    - dataSourceId: '500123'
                      calculatedColumns: {}
                      sheetId: '500123'
                    dataSourceSchedules:
                    - enabled: true
                      refreshScope: DATA_SOURCE_REFRESH_SCOPE_UNSPECIFIED
                      nextRun: {}
                      dailySchedule: {}
                      weeklySchedule: {}
                      monthlySchedule: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /spreadsheets/{spreadsheetId}:
    get:
      operationId: getSpreadsheet
      summary: Google Sheets Get a Spreadsheet
      description: Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. By default, data within grids is not returned. You can include grid data in one of two ways using the fields URL parameter or the includeGridData query parameter.
      tags:
      - Spreadsheets
      parameters:
      - $ref: '#/components/parameters/spreadsheetId'
      - name: ranges
        in: query
        description: The ranges to retrieve from the spreadsheet.
        schema:
          type: array
          items:
            type: string
        example: []
      - name: includeGridData
        in: query
        description: True if grid data should be returned. This parameter is ignored if a field mask was set in the request.
        schema:
          type: boolean
          default: false
        example: true
      responses:
        '200':
          description: Successful response containing the spreadsheet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Spreadsheet'
              examples:
                Getspreadsheet200Example:
                  summary: Default getSpreadsheet 200 response
                  x-microcks-default: true
                  value:
                    spreadsheetId: '500123'
                    properties:
                      title: Example Title
                      locale: example_value
                      autoRecalc: ON_CHANGE
                      timeZone: example_value
                      importFunctionsExternalUrlAccessAllowed: https://www.example.com
                    sheets:
                    - data: {}
                      merges: {}
                      conditionalFormats: {}
                      filterViews: {}
                      protectedRanges: {}
                      charts: {}
                      bandedRanges: {}
                      slicers: {}
                    namedRanges:
                    - namedRangeId: '500123'
                      name: Example Title
                    spreadsheetUrl: https://www.example.com
                    developerMetadata:
                    - metadataId: '500123'
                      metadataKey: example_value
                      metadataValue: example_value
                      visibility: DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED
                    dataSources:
                    - dataSourceId: '500123'
                      calculatedColumns: {}
                      sheetId: '500123'
                    dataSourceSchedules:
                    - enabled: true
                      refreshScope: DATA_SOURCE_REFRESH_SCOPE_UNSPECIFIED
                      nextRun: {}
                      dailySchedule: {}
                      weeklySchedule: {}
                      monthlySchedule: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /spreadsheets/{spreadsheetId}:batchUpdate:
    post:
      operationId: batchUpdateSpreadsheet
      summary: Google Sheets Batch Update a Spreadsheet
      description: Applies one or more updates to the spreadsheet. Each request is validated before being applied. If any request is not valid, the entire request will fail and nothing will be applied.
      tags:
      - Spreadsheets
      parameters:
      - $ref: '#/components/parameters/spreadsheetId'
      requestBody:
        description: The batch update request.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchUpdateSpreadsheetRequest'
            examples:
              BatchupdatespreadsheetRequestExample:
                summary: Default batchUpdateSpreadsheet request
                x-microcks-default: true
                value:
                  requests:
                  - {}
                  includeSpreadsheetInResponse: true
                  responseRanges:
                  - example_value
                  responseIncludeGridData: true
      responses:
        '200':
          description: Successful response containing the batch update results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchUpdateSpreadsheetResponse'
              examples:
                Batchupdatespreadsheet200Example:
                  summary: Default batchUpdateSpreadsheet 200 response
                  x-microcks-default: true
                  value:
                    spreadsheetId: '500123'
                    replies:
                    - {}
                    updatedSpreadsheet:
                      spreadsheetId: '500123'
                      sheets:
                      - {}
                      namedRanges:
                      - {}
                      spreadsheetUrl: https://www.example.com
                      developerMetadata:
                      - {}
                      dataSources:
                      - {}
                      dataSourceSchedules:
                      - {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /spreadsheets/{spreadsheetId}:getByDataFilter:
    post:
      operationId: getSpreadsheetByDataFilter
      summary: Google Sheets Get a Spreadsheet by Data Filter
      description: Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. This method differs from getSpreadsheet in that it allows selecting which subsets of spreadsheet data to return by specifying a dataFilters parameter.
      tags:
      - Spreadsheets
      parameters:
      - $ref: '#/components/parameters/spreadsheetId'
      requestBody:
        description: The data filter request.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dataFilters:
                  type: array
                  description: The DataFilters used to select which ranges to retrieve from the spreadsheet.
                  items:
                    $ref: '#/components/schemas/DataFilter'
                includeGridData:
                  type: boolean
                  description: True if grid data should be returned.
                  default: false
            examples:
              GetspreadsheetbydatafilterRequestExample:
                summary: Default getSpreadsheetByDataFilter request
                x-microcks-default: true
                value:
                  dataFilters:
                  - a1Range: example_value
                  includeGridData: true
      responses:
        '200':
          description: Successful response containing the spreadsheet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Spreadsheet'
              examples:
                Getspreadsheetbydatafilter200Example:
                  summary: Default getSpreadsheetByDataFilter 200 response
                  x-microcks-default: true
                  value:
                    spreadsheetId: '500123'
                    properties:
                      title: Example Title
                      locale: example_value
                      autoRecalc: ON_CHANGE
                      timeZone: example_value
                      importFunctionsExternalUrlAccessAllowed: https://www.example.com
                    sheets:
                    - data: {}
                      merges: {}
                      conditionalFormats: {}
                      filterViews: {}
                      protectedRanges: {}
                      charts: {}
                      bandedRanges: {}
                      slicers: {}
                    namedRanges:
                    - namedRangeId: '500123'
                      name: Example Title
                    spreadsheetUrl: https://www.example.com
                    developerMetadata:
                    - metadataId: '500123'
                      metadataKey: example_value
                      metadataValue: example_value
                      visibility: DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED
                    dataSources:
                    - dataSourceId: '500123'
                      calculatedColumns: {}
                      sheetId: '500123'
                    dataSourceSchedules:
                    - enabled: true
                      refreshScope: DATA_SOURCE_REFRESH_SCOPE_UNSPECIFIED
                      nextRun: {}
                      dailySchedule: {}
                      weeklySchedule: {}
                      monthlySchedule: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    PivotValue:
      type: object
      description: The definition of how a value in a pivot table should be calculated.
      properties:
        summarizeFunction:
          type: string
          description: A function to summarize the value.
          enum:
          - PIVOT_STANDARD_VALUE_FUNCTION_UNSPECIFIED
          - SUM
          - COUNTA
          - COUNT
          - COUNTUNIQUE
          - AVERAGE
          - MAX
          - MIN
          - MEDIAN
          - PRODUCT
          - STDEV
          - STDEVP
          - VAR
          - VARP
          - CUSTOM
          example: PIVOT_STANDARD_VALUE_FUNCTION_UNSPECIFIED
        name:
          type: string
          description: A name to use for the value.
          example: Example Title
        calculatedDisplayType:
          type: string
          description: If specified, indicates that pivot values should be displayed as the result of a calculation with another pivot value.
          enum:
          - PIVOT_VALUE_CALCULATED_DISPLAY_TYPE_UNSPECIFIED
          - PERCENT_OF_ROW_TOTAL
          - PERCENT_OF_COLUMN_TOTAL
          - PERCENT_OF_GRAND_TOTAL
          example: PIVOT_VALUE_CALCULATED_DISPLAY_TYPE_UNSPECIFIED
        sourceColumnOffset:
          type: integer
          description: The column offset of the source range that this value reads from.
          example: 10
        formula:
          type: string
          description: A custom formula to calculate the value.
          example: example_value
        dataSourceColumnReference:
          $ref: '#/components/schemas/DataSourceColumnReference'
    BasicFilter:
      type: object
      description: The default filter associated with a sheet.
      properties:
        range:
          $ref: '#/components/schemas/GridRange'
        sortSpecs:
          type: array
          description: The sort order per column.
          items:
            $ref: '#/components/schemas/SortSpec'
          example: []
        criteria:
          type: object
          description: The criteria for showing/hiding values per column.
          additionalProperties:
            $ref: '#/components/schemas/FilterCriteria'
          example: example_value
        filterSpecs:
          type: array
          description: The filter criteria per column.
          items:
            $ref: '#/components/schemas/FilterSpec'
          example: []
    GridRange:
      type: object
      description: A range on a sheet. All indexes are zero-based.
      properties:
        sheetId:
          type: integer
          description: The sheet this range is on.
          example: '500123'
        startRowIndex:
          type: integer
          description: The start row (inclusive) of the range, or not set if unbounded.
          example: 10
        endRowIndex:
          type: integer
          description: The end row (exclusive) of the range, or not set if unbounded.
          example: 10
        startColumnIndex:
          type: integer
          description: The start column (inclusive) of the range, or not set if unbounded.
          example: 10
        endColumnIndex:
          type: integer
          description: The end column (exclusive) of the range, or not set if unbounded.
          example: 10
    FilterSpec:
      type: object
      description: The filter criteria associated with a specific column.
      properties:
        filterCriteria:
          $ref: '#/components/schemas/FilterCriteria'
        columnIndex:
          type: integer
          description: The zero-based column index.
          example: 10
        dataSourceColumnReference:
          $ref: '#/components/schemas/DataSourceColumnReference'
    ProtectedRange:
      type: object
      description: A protected range.
      properties:
        protectedRangeId:
          type: integer
          description: The ID of the protected range.
          example: '500123'
        range:
          $ref: '#/components/schemas/GridRange'
        namedRangeId:
          type: string
          description: The named range this protected range is backed by, if any.
          example: '500123'
        description:
          type: string
          description: The description of this protected range.
          example: A sample description.
        warningOnly:
          type: boolean
          description: True if this protected range will show a warning when editing.
          example: true
        requestingUserCanEdit:
          type: boolean
          description: True if the user who requested this protected range can edit the protected area.
          example: true
        unprotectedRanges:
          type: array
          description: The list of unprotected ranges within a protected sheet.
          items:
            $ref: '#/components/schemas/GridRange'
          example: []
        editors:
          type: object
          description: The users and groups with edit access to the protected range.
          properties:
            users:
              type: array
              items:
                type: string
            groups:
              type: array
              items:
                type: string
            domainUsersCanEdit:
              type: boolean
          example: example_value
    ColorStyle:
      type: object
      description: A color value.
      properties:
        rgbColor:
          $ref: '#/components/schemas/Color'
        themeColor:
          type: string
          description: Theme color type.
          enum:
          - THEME_COLOR_TYPE_UNSPECIFIED
          - TEXT
          - BACKGROUND
          - ACCENT1
          - ACCENT2
          - ACCENT3
          - ACCENT4
          - ACCENT5
          - ACCENT6
          - LINK
          example: THEME_COLOR_TYPE_UNSPECIFIED
    InterpolationPoint:
      type: object
      description: A single interpolation point on a gradient conditional format.
      properties:
        color:
          $ref: '#/components/schemas/Color'
        colorStyle:
          $ref: '#/components/schemas/ColorStyle'
        type:
          type: string
          description: How the value should be interpreted.
          enum:
          - INTERPOLATION_POINT_TYPE_UNSPECIFIED
          - MIN
          - MAX
          - NUMBER
          - PERCENT
          - PERCENTILE
          example: INTERPOLATION_POINT_TYPE_UNSPECIFIED
        value:
          type: string
          description: The value this interpolation point uses.
          example: example_value
    EmbeddedChart:
      type: object
      description: A chart embedded in a sheet.
      properties:
        chartId:
          type: integer
          description: The ID of the chart.
          example: '500123'
        position:
          $ref: '#/components/schemas/EmbeddedObjectPosition'
        spec:
          type: object
          description: The specification of the chart.
          example: example_value
    TextFormat:
      type: object
      description: The format of a run of text in a cell.
      properties:
        foregroundColor:
          $ref: '#/components/schemas/Color'
        foregroundColorStyle:
          $ref: '#/components/schemas/ColorStyle'
        fontFamily:
          type: string
          description: The font family.
          example: example_value
        fontSize:
          type: integer
          description: The size of the font.
          example: 10
        bold:
          type: boolean
          description: True if the text is bold.
          example: true
        italic:
          type: boolean
          description: True if the text is italicized.
          example: true
        strikethrough:
          type: boolean
          description: True if the text has a strikethrough.
          example: true
        underline:
          type: boolean
          description: True if the text is underlined.
          example: true
        link:
          $ref: '#/components/schemas/Link'
    DeveloperMetadataLookup:
      type: object
      description: Selects DeveloperMetadata that matches all of the specified fields.
      properties:
        locationType:
          type: string
          description: Limits the selected developer metadata to that which has a matching location type.
          enum:
          - DEVELOPER_METADATA_LOCATION_TYPE_UNSPECIFIED
          - ROW
          - COLUMN
          - SHEET
          - SPREADSHEET
          example: DEVELOPER_METADATA_LOCATION_TYPE_UNSPECIFIED
        metadataLocation:
          $ref: '#/components/schemas/DeveloperMetadataLocation'
        locationMatchingStrategy:
          type: string
          description: Determines how this lookup matches the location.
          enum:
          - DEVELOPER_METADATA_LOCATION_MATCHING_STRATEGY_UNSPECIFIED
          - EXACT_LOCATION
          - INTERSECTING_LOCATION
          example: DEVELOPER_METADATA_LOCATION_MATCHING_STRATEGY_UNSPECIFIED
        metadataId:
          type: integer
          description: Limits the selected developer metadata to that which has a matching metadata ID.
          example: '500123'
        metadataKey:
          type: string
          description: Limits the selected developer metadata to that which has a matching metadata key.
          example: example_value
        metadataValue:
          type: string
          description: Limits the selected developer metadata to that which has a matching metadata value.
          example: example_value
        visibility:
          type: string
          description: Limits the selected developer metadata to that which has a matching visibility.
          enum:
          - DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED
          - DOCUMENT
          - PROJECT
          example: DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED
    PivotGroupSortValueBucket:
      type: object
      description: Information about which values in a pivot group should be used for sorting.
      properties:
        valuesIndex:
          type: integer
          description: The offset in the PivotTable.values list which the values in this grouping should be sorted by.
          example: 10
        buckets:
          type: array
          description: Determines the bucket from which values are chosen to sort.
          items:
            $ref: '#/components/schemas/ExtendedValue'
          example: []
    FilterView:
      type: object
      description: A filter view.
      properties:
        filterViewId:
          type: integer
          description: The ID of the filter view.
          example: '500123'
        title:
          type: string
          description: The name of the filter view.
          example: Example Title
        range:
          $ref: '#/components/schemas/GridRange'
        namedRangeId:
          type: string
          description: The named range this filter view is backed by, if any.
          example: '500123'
        sortSpecs:
          type: array
          description: The sort order per column.
          items:
            $ref: '#/components/schemas/SortSpec'
          example: []
        criteria:
          type: object
          description: The criteria for showing/hiding values per column.
          additionalProperties:
            $ref: '#/components/schemas/FilterCriteria'
          example: example_value
        filterSpecs:
          type: array
          description: The filter criteria for showing/hiding values per column.
          items:
            $ref: '#/components/schemas/FilterSpec'
          example: []
    DeveloperMetadataLocation:
      type: object
      description: A location where metadata may be associated in a spreadsheet.
      properties:
        locationType:
          type: string
          description: The type of location this object represents.
          enum:
          - DEVELOPER_METADATA_LOCATION_TYPE_UNSPECIFIED
          - ROW
          - COLUMN
          - SHEET
          - SPREADSHEET
          example: DEVELOPER_METADATA_LOCATION_TYPE_UNSPECIFIED
        spreadsheet:
          type: boolean
          description: True when metadata is associated with an entire spreadsheet.
          example: true
        sheetId:
          type: integer
          description: The ID of the sheet when metadata is associated with an entire sheet.
          example: '500123'
        dimensionRange:
          $ref: '#/components/schemas/DimensionRange'
    DataSource:
      type: object
      description: Information about an external data source in the spreadsheet.
      properties:
        dataSourceId:
          type: string
          description: The spreadsheet-scoped unique ID that identifies the data source.
          example: '500123'
        spec:
          $ref: '#/components/schemas/DataSourceSpec'
        calculatedColumns:
          type: array
          description: All calculated columns in the data source.
          items:
            $ref: '#/components/schemas/DataSourceColumn'
          example: []
        sheetId:
          type: integer
          description: The ID of the Sheet connected with the data source.
          example: '500123'
    Border:
      type: object
      description: A border along a cell.
      properties:
        style:
          type: string
          description: The style of the border.
          enum:
          - STYLE_UNSPECIFIED
          - DOTTED
          - DASHED
          - SOLID
          - SOLID_MEDIUM
          - SOLID_THICK
          - NONE
          - DOUBLE
          example: STYLE_UNSPECIFIED
        width:
          type: integer
          description: The width of the border, in pixels. Deprecated; the width is determined by the style.
          deprecated: true
          example: 10
        color:
          $ref: '#/components/schemas/Color'
        colorStyle:
          $ref: '#/components/schemas/ColorStyle'
    DataSourceFormula:
      type: object
      description: A data source formula.
      properties:
        dataSourceId:
          type: string
          description: The ID of the data source the formula is associated with.
          example: '500123'
        dataExecutionStatus:
          $ref: '#/components/schemas/DataExecutionStatus'
    NamedRange:
      type: object
      description: A named range.
      properties:
        namedRangeId:
          type: string
          description: The ID of the named range.
          example: '500123'
        name:
          type: string
          description: The name of the named range.
          example: Example Title
        range:
          $ref: '#/components/schemas/GridRange'
    ErrorResponse:
      type: object
      description: An error response from the API.
      properties:
        error:
          type: object
          properties:
            code:
              type: integer
              description: The HTTP status code.
            message:
              type: string
              description: A human-readable error message.
            status:
              type: string
              description: The status of the error.
            details:
              type: array
              description: Additional error details.
              items:
                type: object
          example: example_value
    DataValidationRule:
      type: object
      description: A data validation rule.
      properties:
        condition:
          $ref: '#/components/schemas/BooleanCondition'
        inputMessage:
          type: string
          description: A message to show the user when adding data to the cell.
          example: example_value
        strict:
          type: boolean
          description: True if invalid data should be rejected.
          example: true
        showCustomUi:
          type: boolean
          description: True if the UI should be customized based on the kind of condition.
          example: true
    CellData:
      type: object
      description: Data about a specific cell.
      properties:
        userEnteredValue:
          $ref: '#/components/schemas/ExtendedValue'
        effectiveValue:
          $ref: '#/components/schemas/ExtendedValue'
        formattedValue:
          type: string
          description: The formatted value of the cell. This is the value as it is shown to the user.
          example: example_value
        userEnteredFormat:
          $ref: '#/components/schemas/CellFormat'
        effectiveFormat:
          $ref: '#/components/schemas/CellFormat'
        hyperlink:
          type: string
          description: A hyperlink this cell points to, if any.
          example: example_value
        note:
          type: string
          description: Any note on the cell.
          example: example_value
        textFormatRuns:
          type: array
          description: Runs of rich text applied to subsections of the cell.
          items:
            $ref: '#/components/schemas/TextFormatRun'
          example: []
        dataValidation:
          $ref: '#/components/schemas/DataValidationRule'
        pivotTable:
          $ref: '#/components/schemas/PivotTable'
        dataSourceTable:
          $ref: '#/components/schemas/DataSourceTable'
        dataSourceFormula:
          $ref: '#/components/schemas/DataSourceFormula'
    ConditionalFormatRule:
      type: object
      description: A rule describing a conditional format.
      properties:
        ranges:
          type: array
          description: The ranges that are formatted if the condition is true.
          items:
            $ref: '#/components/schemas/GridRange'
          example: []
        booleanRule:
          type: object
          description: The formatting is either on or off according to the rule.
          properties:
            condition:
              $ref: '#/components/schemas/BooleanCondition'
            format:
              $ref: '#/components/schemas/CellFormat'
          example: example_value
        gradientRule:
          type: object
          description: The formatting will vary based on the gradients in the rule.
          properties:
            minpoint:
              $ref: '#/components/schemas/InterpolationPoint'
            midpoint:
              $ref: '#/components/schemas/InterpolationPoint'
            maxpoint:
              $ref: '#/components/schemas/InterpolationPoint'
          example: example_value
    SpreadsheetProperties:
      type: object
      description: Properties of a spreadsheet.
      properties:
        title:
          type: string
          description: The title of the spreadsheet.
          example: Example Title
        locale:
          type: string
          description: 'The locale of the spreadsheet in one of the following formats: an ISO 639-1 language code, an ISO 639-2 language code, or a combination of the ISO language code and country code (e.g. en, eng, en_US).'
          example: example_value
        autoRecalc:
          type: string
          description: The amount of time to wait before volatile functions are recalculated.
          enum:
          - ON_CHANGE
          - MINUTE
          - HOUR
          example: ON_CHANGE
        timeZone:
          type: string
          description: The time zone of the spreadsheet in CLDR format (e.g. America/New_York).
          example: example_value
        defaultFormat:
          $ref: '#/components/schemas/CellFormat'
        iterativeCalculationSettings:
          $ref: '#/components/schemas/IterativeCalculationSettings'
        spreadsheetTheme:
          $ref: '#/components/schemas/SpreadsheetTheme'
        importFunctionsExternalUrlAccessAllowed:
          type: boolean
          description: Whether to allow external URL access for image and import functions.
          example: https://www.example.com
    TextFormatRun:
      type: object
      description: A run of a text format.
      properties:
        startIndex:
          type: integer
          description: The character index where this run starts (zero-based).
          example: 10
        format:
          $ref: '#/components/schemas/TextFormat'
    PivotFilterSpec:
      type: object
      description: The pivot table filter criteria associated with a specific source column offset.
      properties:
        filterCriteria:
          $ref: '#/components/schemas/PivotFilterCriteria'
        columnOffsetIndex:
          type: integer
          description: The zero-based column offset of the source range.
          example: 10
        dataSourceColumnReference:
          $ref: '#/components/schemas/DataSourceColumnReference'
    RowData:
      type: object
      description: Data about each cell in a row.
      properties:
        values:
          type: array
          description: The values in the row, one per column.
          items:
            $ref: '#/components/schemas/CellData'
          example: []
    EmbeddedObjectPosition:
      type: object
      description: The position of an embedded object such as a chart.
      properties:
        sheetId:
          type: integer
          description: The sheet this is on.
          example: '500123'
        overlayPosition:
          type: object
          description: The position at which the object is overlaid on top of a grid.
          properties:
            anchorCell:
              $ref: '#/components/schemas/GridCoordinate'
            offsetXPixels:
              type: integer
            offsetYPixels:
              type: integer
            widthPixels:
              type: integer
            heightPixels:
              type: integer
          example: example_value
        newSheet:
          type: boolean
          description: If true, the embedded object is put on a new sheet whose ID is chosen for you.
          example: true
    BigQueryDataSourceSpec:
      type: object
      description: The specification of a BigQuery data source that is connected to a sheet.
      properties:
        projectId:
          type: string
          description: The ID of a BigQuery enabled Google Cloud project with a billing account attached.
          example: '500123'
        querySpec:
          type: object
          description: A BigQueryQuerySpec.
          properties:
            rawQuery:
              type: string
              description: The raw query string.
          example: example_value
        tableSpec:
          type: object
          description: A BigQueryTableSpec.
          properties:
            tableProjectId:
              type: string
              description: The ID of a BigQuery project the table belongs to.
            tableId:
              type: string
              description: The BigQuery table id.
            datasetId:
              type: string
              description: The BigQuery dataset id.
          example: example_value
    DimensionRange:
      type: object
      description: A range along a single dimension on a sheet.
      properties:
        sheetId:
          type: integer
          description: The sheet this span is on.
          example: '500123'
        dimension:
          $ref: '#/components/schemas/Dimension'
        startIndex:
          type: integer
          description: The start (inclusive) of the span.
          example: 10
        endIndex:
          type: integer
          description: The end (exclusive) of the span.
          example: 10
    DataSourceParameter:
      type: object
      description: A parameter in a data source's query.
      properties:
        name:
          type: string
          description: Named parameter.
          example: Example Title
        namedRangeId:
          type: string
          description: ID of a NamedRange.
          example: '500123'
        range:
          $ref: '#/components/schemas/GridRange'
    Color:
      type: object
      description: Represents a color in the RGBA color space. Values are in the range [0, 1].
      properties:
        red:
          type: number
          description: The amount of red in the color as a value in the range [0, 1].
          example: 42.5
        green:
          type: number
          description: The amount of green in the color as a value in the range [0, 1].
          example: 42.5
        blue:
          type: number
          description: The amount of blue in the color as a value in the range [0, 1].
          example: 42.5
        alpha:
          type: number
          description: The fraction of this color that should be applied to the pixel. A value of 1.0 corresponds to a solid color.
          example: 42.5
    CellFormat:
      type: object
      description: The format of a cell.
      properties:
        numberFormat:
          $ref: '#/components/schemas/NumberFormat'
        backgroundColor:
          $ref: '#/components/schemas/Color'
        backgroundColorStyle:
          $ref: '#/components/schemas/ColorStyle'
        borders:
          $ref: '#/components/schemas/Borders'
        padding:
          $ref: '#/components/schemas/Padding'
        horizontalAlignment:
          type: string
          description: The horizontal alignment of the value in the cell.
          enum:
          - HORIZONTAL_ALIGN_UNSPECIFIED
          - LEFT
          - CENTER
          - RIGHT
          example: HORIZONTAL_ALIGN_UNSPECIFIED
        verticalAlignment:
          type: string
          description: The vertical alignment of the value in the cell.
          enum:
          - VERTICAL_ALIGN_UNSPECIFIED
          - TOP
          - MIDDLE
          - BOTTOM
          example: VERTICAL_ALIGN_UNSPECIFIED
        wrapStrategy:
          type: string
          description: The wrap strategy for the value in the cell.
          enum:
          - WRAP_STRATEGY_UNSPECIFIED
          - OVERFLOW_CELL
          - LEGACY_WRAP
          - CLIP
          - WRAP
          example: WRAP_STRATEGY_UNSPECIFIED
        textDirection:
          type: string
          description: The direction of the text in the cell.
          enum:
          - TEXT_DIRECTION_UNSPECIFIED
          - LEFT_TO_RIGHT
          - RIGHT_TO_LEFT
          example: TEXT_DIRECTION_UNSPECIFIED
        textFormat:
          $ref: '#/components/schemas/TextFormat'
        hyperlinkDisplayType:
          type: string
          description: How a hyperlink, if any, should be displayed in the cell.
          enum:
          - HYPERLINK_DISPLAY_TYPE_UNSPECIFIED
          - LINKED
          - PLAIN_TEXT
          example: HYPERLINK_DISPLAY_TYPE_UNSPECIFIED
        textRotation:
          $ref: '#/components/schemas/TextRotation'
    FilterCriteria:
      type: object
      description: Criteria for showing/hiding rows in a filter or filter view.
      properties:
        hiddenValues:
          type: array
          description: Values that should be hidden.
          items:
            type: string
          example: []
        condition:
          $ref: '#/components/schemas/BooleanCondition'
        visibleBackgroundColor:
          $ref: '#/components/schemas/Color'
        visibleBackgroundColorStyle:
          $ref: '#/components/schemas/ColorStyle'
        visibleForegroundColor:
          $ref: '#/components/schemas/Color'
        visibleForegroundColorStyle:
          $ref: '#/components/schemas/ColorStyle'
    DataExecutionStatus:
      type: object
      description: The data execution status.
      properties:
        state:
          type: string
          description: The state of the data execution.
          enum:
          - DATA_EXECUTION_STATE_UNSPECIFIED
          - NOT_STARTED
          - RUNNING
          - CANCELLING
          - SUCCEEDED
          - FAILED
          example: DATA_EXECUTION_STATE_UNSPECIFIED
        errorCode:
          type: string
          description: The error code.
          enum:
          - DATA_EXECUTION_ERROR_CODE_UNSPECIFIED
          - TIMED_OUT
          - TOO_MANY_ROWS
          - TOO_MANY_COLUMNS
          - TOO_MANY_CELLS
          - ENGINE
          - PARAMETER_INVALID
          - UNSUPPORTED_DATA_TYPE
          - DUPLICATE_COLUMN_NAMES
          - INTERRUPTED
          - CONCURRENT_QUERY
          - OTHER
          - TOO_MANY_CHARS_PER_CELL
          - DATA_NOT_FOUND
          - PERMISSION_DENIED
          - MISSING_COLUMN_ALIAS
          - OBJECT_NOT_FOUND
          - OBJECT_IN_ERROR_STATE
          - OBJECT_SPEC_INVALID
          - DATA_EXECUTION_CANCELLED
          example: DATA_EXECUTION_ERROR_CODE_UNSPECIFIED
        errorMessage:
          type: string
          description: The error message, which may be empty.
          example: example_value
        lastRefreshTime:
          type: string
          format: date-time
          description: Gets the time the data last successfully refreshed.
          example: '2026-01-15T10:30:00Z'
    DataSourceColumn:
      type: object
      description: A column in a data source.
      properties:
        reference:
          $ref: '#/components/schemas/DataSourceColumnReference'
        formula:
          type: string
          description: The formula of the calculated column.
          example: example_value
    ExtendedValue:
      type: object
      description: The kinds of value that a cell in a spreadsheet can have.
      properties:
        numberValue:
          type: number
          description: Represents a double value.
          example: 42.5
        stringValue:
          type: string
          description: Represents a string value.
          example: example_value
        boolValue:
          type: boolean
          description: Represents a boolean value.
          example: true
        formulaValue:
          type: string
          description: Represents a formula.
          example: example_value
        errorValue:
          $ref: '#/components/schemas/ErrorValue'
    Slicer:
      type: object
      description: A slicer in a sheet.
      properties:
        slicerId:
          type: integer
          description: The ID of the slicer.
          example: '500123'
        spec:
          type: object
          description: The specification of the slicer.
          properties:
            dataRange:
              $ref: '#/components/schemas/GridRange'
            filterCriteria:
              $ref: '#/components/schemas/FilterCriteria'
            columnIndex:
              type: integer
            applyToPivotTables:
              type: boolean
            title:
              type: string
            textFormat:
              $ref: '#/components/schemas/TextFormat'
            backgroundColor:
              $ref: '#/components/schemas/Color'
            backgroundColorStyle:
              $ref: '#/components/schemas/ColorStyle'
            horizontalAlignment:
              type: string
              enum:
              - HORIZONTAL_ALIGN_UNSPECIFIED
              - LEFT
              - CENTER
              - RIGHT
          example: example_value
        position:
          $ref: '#/components/schemas/EmbeddedObjectPosition'
    BatchUpdateSpreadsheetRequest:
      type: object
      description: The request for updating any aspect of a spreadsheet.
      properties:
        requests:
          type: array
          description: A list of updates to apply to the spreadsheet.
          items:
            type: object
            description: A single kind of update to apply to a spreadsheet. The specific update type is determined by which field is set.
          example: []
        includeSpreadsheetInResponse:
          type: boolean
          description: Determines if the update response should include the spreadsheet resource.
          default: false
          example: true
        responseRanges:
          type: array
          description: Limits the ranges included in the response spreadsheet.
          items:
            type: string
          example: []
        responseIncludeGridData:
          type: boolean
          description: True if grid data should be returned.
          default: false
          example: true
    DataSourceRefreshSchedule:
      type: object
      description: Schedule for refreshing a data source.
      properties:
        enabled:
          type: boolean
          description: True if the refresh schedule is enabled.
          example: true
        refreshScope:
          type: string
          description: The scope of the refresh.
          enum:
          - DATA_SOURCE_REFRESH_SCOPE_UNSPECIFIED
          - ALL_DATA_SOURCES
          example: DATA_SOURCE_REFRESH_SCOPE_UNSPECIFIED
        nextRun:
          type: object
          description: Output only. The time interval of the next run.
          properties:
            startTime:
              type: string
              format: date-time
            endTime:
              type: string
              format: date-time
          example: example_value
        dailySchedule:
          type: object
          description: Daily refresh schedule.
          properties:
            startTime:
              type: object
              description: The start time of a time interval.
              properties:
                hours:
                  type: integer
                minutes:
                  type: integer
                seconds:
                  type: integer
                nanos:
                  type: integer
          example: example_value
        weeklySchedule:
          type: object
          description: Weekly refresh schedule.
          properties:
            startTime:
              type: object
              properties:
                hours:
                  type: integer
                minutes:
                  type: integer
                seconds:
                  type: integer
                nanos:
                  type: integer
            daysOfWeek:
              type: array
              items:
                type: string
                enum:
                - DAY_OF_WEEK_UNSPECIFIED
                - MONDAY
                - TUESDAY
                - WEDNESDAY
                - THURSDAY
                - FRIDAY
                - SATURDAY
                - SUNDAY
          example: example_value
        monthlySchedule:
          type: object
          description: Monthly refresh schedule.
          properties:
            startTime:
              type: object
              properties:
                hours:
                  type: integer
                minutes:
                  type: integer
                seconds:
                  type: integer
                nanos:
                  type: integer
            daysOfMonth:
              type: array
              items:
                type: integer
          example: example_value
    DimensionProperties:
      type: object
      description: Properties about a dimension.
      properties:
        hiddenByFilter:
          type: boolean
          description: True if this dimension is being filtered.
          example: true
        hiddenByUser:
          type: boolean
          description: True if this dimension is explicitly hidden.
          example: true
        pixelSize:
          type: integer
          description: The height (for rows) or width (for columns) of the dimension in pixels.
          example: 10
        developerMetadata:
          type: array
          description: The developer metadata associated with a single row or column.
          items:
            $ref: '#/components/schemas/DeveloperMetadata'
          example: []
        dataSourceColumnReference:
          $ref: '#/components/schemas/DataSourceColumnReference'
    PivotFilterCriteria:
      type: object
      description: Criteria for showing/hiding rows in a pivot table.
      properties:
        visibleValues:
          type: array
          description: Values that should be included.
          items:
            type: string
          example: []
        condition:
          $ref: '#/components/schemas/BooleanCondition'
        visibleByDefault:
          type: boolean
          description: Whether values are visible by default.
          example: true
    ConditionValue:
      type: object
      description: The value of the condition.
      properties:
        relativeDate:
          type: string
          description: A relative date.
          enum:
          - RELATIVE_DATE_UNSPECIFIED
          - PAST_YEAR
          - PAST_MONTH
          - PAST_WEEK
          - YESTERDAY
          - TODAY
          - TOMORROW
          example: RELATIVE_DATE_UNSPECIFIED
        userEnteredValue:
          type: string
          description: A value the condition is based on.
          example: example_value
    Spreadsheet:
      type: object
      description: A Google Sheets spreadsheet resource.
      properties:
        spreadsheetId:
          type: string
          description: The ID of the spreadsheet. Read-only.
          readOnly: true
          example: '500123'
        properties:
          $ref: '#/components/schemas/SpreadsheetProperties'
        sheets:
          type: array
          description: The sheets that are part of a spreadsheet.
          items:
            $ref: '#/components/schemas/Sheet'
          example: []
        namedRanges:
          type: array
          description: The named ranges defined in a spreadsheet.
          items:
            $ref: '#/components/schemas/NamedRange'
          example: []
        spreadsheetUrl:
          type: string
          format: uri
          description: The URL of the spreadsheet. Read-only.
          readOnly: true
          example: https://www.example.com
        developerMetadata:
          type: array
          description: The developer metadata associated with a spreadsheet.
          items:
            $ref: '#/components/schemas/DeveloperMetadata'
          example: []
        dataSources:
          type: array
          description: A list of external data sources connected to the spreadsheet.
          items:
            $ref: '#/components/schemas/DataSource'
          example: []
        dataSourceSchedules:
          type: array
          description: Output only. A list of data source refresh schedules.
          readOnly: true
          items:
            $ref: '#/components/schemas/DataSourceRefreshSchedule'
          example: []
    BatchUpdateSpreadsheetResponse:
      type: object
      description: The reply for batch updating a spreadsheet.
      properties:
        spreadsheetId:
          type: string
          description: The spreadsheet the updates were applied to.
          example: '500123'
        replies:
          type: array
          description: The reply of the updates.
          items:
            type: object
            description: A single response from an update.
          example: []
        updatedSpreadsheet:
          $ref: '#/components/schemas/Spreadsheet'
    PivotGroupRule:
      type: object
      description: An optional setting on a PivotGroup that defines buckets for the values in the source data column.
      properties:
        manualRule:
          type: object
          description: A ManualRule.
          properties:
            groups:
              type: array
              items:
                type: object
                properties:
                  groupName:
                    $ref: '#/components/schemas/ExtendedValue'
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ExtendedValue'
          example: example_value
        histogramRule:
          type: object
          description: A HistogramRule.
          properties:
            interval:
              type: number
            start:
              type: number
            end:
              type: number
          example: example_value
        dateTimeRule:
          type: object
          description: A DateTimeRule.
          properties:
            type:
              type: string
              enum:
              - DATE_TIME_RULE_TYPE_UNSPECIFIED
              - SECOND
              - MINUTE
              - HOUR
              - HOUR_MINUTE
              - HOUR_MINUTE_AMPM
              - DAY_OF_YEAR
              - DAY_OF_MONTH
              - DAY_OF_WEEK
              - MONTH
              - QUARTER
              - YEAR
              - YEAR_MONTH
              - YEAR_QUARTER
              - YEAR_MONTH_DAY
          example: example_value
    BandingProperties:
      type: object
      description: Properties referring a single dimension (either row or column).
      properties:
        headerColor:
          $ref: '#/components/schemas/Color'
        headerColorStyle:
          $ref: '#/components/schemas/ColorStyle'
        firstBandColor:
          $ref: '#/components/schemas/Color'
        firstBandColorStyle:
          $ref: '#/components/schemas/ColorStyle'
        secondBandColor:
          $ref: '#/components/schemas/Color'
        secondBandColorStyle:
          $ref: '#/components/schemas/ColorStyle'
        footerColor:
          $ref: '#/components/schemas/Color'
        footerColorStyle:
          $ref: '#/components/schemas/ColorStyle'
    SheetProperties:
      type: object
      description: Properties of a sheet.
      properties:
        sheetId:
          type: integer
          description: The ID of the sheet. Must be non-negative. This field cannot be changed once set.
          example: '500123'
        title:
          type: string
          description: The name of the sheet.
          example: Example Title
        index:
          type: integer
          description: The index of the sheet within the spreadsheet.
          example: 10
        sheetType:
          type: string
          description: The type of sheet.
          enum:
          - GRID
          - OBJECT
          - DATA_SOURCE
          example: GRID
        gridProperties:
          $ref: '#/components/schemas/GridProperties'
        hidden:
          type: boolean
          description: True if the sheet is hidden in the UI, false if visible.
          example: true
        tabColor:
          $ref: '#/components/schemas/Color'
        tabColorStyle:
          $ref: '#/components/schemas/ColorStyle'
        rightToLeft:
          type: boolean
          description: True if the sheet is an RTL sheet instead of an LTR sheet.
          example: true
        dataSourceSheetProperties:
          $ref: '#/components/schemas/DataSourceSheetProperties'
    PivotGroupLimit:
      type: object
      description: The count limit on rows or columns in the pivot group.
      properties:
        countLimit:
          type: integer
          description: The count limit.
          example: 10
        applyOrder:
          type: integer
          description: The order in which the group limit is applied to the pivot table.
          example: 10
    Dimension:
      type: string
      description: Indicates which dimension an operation should apply to.
      enum:
      - DIMENSION_UNSPECIFIED
      - ROWS
      - COLUMNS
    DataSourceSheetProperties:
      type: object
      description: Additional properties of a DATA_SOURCE sheet.
      properties:
        dataSourceId:
          type: string
          description: ID of the DataSource the sheet is connected to.
          example: '500123'
        columns:
          type: array
          description: The columns displayed on the sheet.
          items:
            $ref: '#/components/schemas/DataSourceColumn'
          example: []
        dataExecutionStatus:
          $ref: '#/components/schemas/DataExecutionStatus'
    DeveloperMetadata:
      type: object
      description: Developer metadata associated with a location or object in a spreadsheet.
      properties:
        metadataId:
          type: integer
          description: The spreadsheet-scoped unique ID that identifies the metadata.
          example: '500123'
        metadataKey:
          type: string
          description: The metadata key.
          example: example_value
        metadataValue:
          type: string
          description: Data associated with the metadata's key.
          example: example_value
        location:
          $ref: '#/components/schemas/DeveloperMetadataLocation'
        visibility:
          type: string
          description: The metadata visibility.
          enum:
          - DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED
          - DOCUMENT
          - PROJECT
          example: DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED
    DataSourceTable:
      type: object
      description: A data source table, which allows the user to import a static table of data from the DataSource into Sheets.
      properties:
        dataSourceId:
          type: string
          description: The ID of the data source the data source table is associated with.
          example: '500123'
        columnSelectionType:
          type: string
          description: The type to select columns for the data source table.
          enum:
          - DATA_SOURCE_TABLE_COLUMN_SELECTION_TYPE_UNSPECIFIED
          - SELECTED
          - SYNC_ALL
          example: DATA_SOURCE_TABLE_COLUMN_SELECTION_TYPE_UNSPECIFIED
        columns:
          type: array
          description: Columns selected for the data source table.
          items:
            $ref: '#/components/schemas/DataSourceColumnReference'
          example: []
        filterSpecs:
          type: array
          description: Filter specifications in the data source table.
          items:
            $ref: '#/components/schemas/FilterSpec'
          example: []
        sortSpecs:
          type: array
          description: Sort specifications in the data source table.
          items:
            $ref: '#/components/schemas/SortSpec'
          example: []
        rowLimit:
          type: integer
          description: The limit of rows to return.
          example: 10
        dataExecutionStatus:
          $ref: '#/components/schemas/DataExecutionStatus'
    BandedRange:
      type: object
      description: A banded (alternating colors) range in a sheet.
      properties:
        bandedRangeId:
          type: integer
          description: The ID of the banded range.
          example: '500123'
        range:
          $ref: '#/components/schemas/GridRange'
        rowProperties:
          $ref: '#/components/schemas/BandingProperties'
        columnProperties:
          $ref: '#/components/schemas/BandingProperties'
    Padding:
      type: object
      description: The amount of padding around the cell, in pixels.
      properties:
        top:
          type: integer
          description: The top padding of the cell.
          example: 10
        right:
          type: integer
          description: The right padding of the cell.
          example: 10
        bottom:
          type: integer
          description: The bottom padding of the cell.
          example: 10
        left:
          type: integer
          description: The left padding of the cell.
          example: 10
    Link:
      type: object
      description: An external or local reference.
      properties:
        uri:
          type: string
          description: The link identifier.
          example: example_value
    IterativeCalculationSettings:
      type: object
      description: Settings to control how circular dependencies are resolved with iterative calculation.
      properties:
        maxIterations:
          type: integer
          description: When iterative calculation is enabled, the maximum number of calculation rounds to perform.
          example: 10
        convergenceThreshold:
          type: number
          description: When iterative calculation is enabled and successive results differ by less than this threshold value, the calculation rounds stop.
          example: 42.5
    Borders:
      type: object
      description: The borders of the cell.
      properties:
        top:
          $ref: '#/components/schemas/Border'
        bottom:
          $ref: '#/components/schemas/Border'
        left:
          $ref: '#/components/schemas/Border'
        right:
          $ref: '#/components/schemas/Border'
    NumberFormat:
      type: object
      description: The number format of a cell.
      properties:
        type:
          type: string
          description: The type of the number format.
          enum:
          - NUMBER_FORMAT_TYPE_UNSPECIFIED
          - TEXT
          - NUMBER
          - PERCENT
          - CURRENCY
          - DATE
          - TIME
          - DATE_TIME
          - SCIENTIFIC
          example: NUMBER_FORMAT_TYPE_UNSPECIFIED
        pattern:
          type: string
          description: Pattern string used for formatting.
          example: example_value
    ErrorValue:
      type: object
      description: An error in a cell.
      properties:
        type:
          type: string
          description: The type of error.
          enum:
          - ERROR_TYPE_UNSPECIFIED
          - ERROR
          - NULL_VALUE
          - DIVIDE_BY_ZERO
          - VALUE
          - REF
          - NAME
          - NUM
          - N_A
          - LOADING
          example: ERROR_TYPE_UNSPECIFIED
        message:
          type: string
          description: A message with more information about the error.
          example: example_value
    GridCoordinate:
      type: object
      description: A coordinate in a sheet.
      properties:
        sheetId:
          type: integer
          description: The sheet this coordinate is on.
          example: '500123'
        rowIndex:
          type: integer
          description: The row index of the coordinate.
          example: 10
        columnIndex:
          type: integer
          description: The column index of the coordinate.
          example: 10
    TextRotation:
      type: object
      description: The rotation applied to text in a cell.
      properties:
        angle:
          type: integer
          description: The angle between the standard orientation and the desired orientation. Measured in degrees. Valid values are between -90 and 90.
          example: 10
        vertical:
          type: boolean
          description: If true, text reads top to bottom, but the orientation of individual characters is unchanged.
          example: true
    GridData:
      type: object
      description: Data in the grid, as well as metadata about the dimensions.
      properties:
        startRow:
          type: integer
          description: The first row this GridData refers to, zero-based.
          example: 10
        startColumn:
          type: integer
          description: The first column this GridData refers to, zero-based.
          example: 10
        rowData:
          type: array
          description: The data in the grid, one entry per row, starting with the row in startRow.
          items:
            $ref: '#/components/schemas/RowData'
          example: []
        rowMetadata:
          type: array
          description: Metadata about the requested rows in the grid, starting with the row in startRow.
          items:
            $ref: '#/components/schemas/DimensionProperties'
          example: []
        columnMetadata:
          type: array
          description: Metadata about the requested columns in the grid, starting with the column in startColumn.
          items:
            $ref: '#/components/schemas/DimensionProperties'
          example: []
    DataSourceSpec:
      type: object
      description: This specifies the details of the data source.
      properties:
        parameters:
          type: array
          description: The parameters of the data source, used when querying the data source.
          items:
            $ref: '#/components/schemas/DataSourceParameter'
          example: []
        bigQuery:
          $ref: '#/components/schemas/BigQueryDataSourceSpec'
    SortSpec:
      type: object
      description: A sort order associated with a specific column or row.
      properties:
        dimensionIndex:
          type: integer
          description: The dimension the sort should be applied to.
          example: 10
        sortOrder:
          type: string
          description: The order data should be sorted.
          enum:
          - SORT_ORDER_UNSPECIFIED
          - ASCENDING
          - DESCENDING
          example: SORT_ORDER_UNSPECIFIED
        foregroundColor:
          $ref: '#/components/schemas/Color'
        foregroundColorStyle:
          $ref: '#/components/schemas/ColorStyle'
        backgroundColor:
          $ref: '#/components/schemas/Color'
        backgroundColorStyle:
          $ref: '#/components/schemas/ColorStyle'
        dataSourceColumnReference:
          $ref: '#/components/schemas/DataSourceColumnReference'
    Sheet:
      type: object
      description: A sheet in a spreadsheet.
      properties:
        properties:
          $ref: '#/components/schemas/SheetProperties'
        data:
          type: array
          description: Data in the grid, if this is a grid sheet.
          items:
            $ref: '#/components/schemas/GridData'
          example: []
        merges:
          type: array
          description: The ranges that are merged together.
          items:
            $ref: '#/components/schemas/GridRange'
          example: []
        conditionalFormats:
          type: array
          description: The conditional format rules in this sheet.
          items:
            $ref: '#/components/schemas/ConditionalFormatRule'
          example: []
        filterViews:
          type: array
          description: The filter views in this sheet.
          items:
            $ref: '#/components/schemas/FilterView'
          example: []
        protectedRanges:
          type: array
          description: The protected ranges in this sheet.
          items:
            $ref: '#/components/schemas/ProtectedRange'
          example: []
        basicFilter:
          $ref: '#/components/schemas/BasicFilter'
        charts:
          type: array
          description: The specifications of every chart on this sheet.
          items:
            $ref: '#/components/schemas/EmbeddedChart'
          example: []
        bandedRanges:
          type: array
          description: The banded (alternating colors) ranges on this sheet.
          items:
            $ref: '#/components/schemas/BandedRange'
          example: []
        slicers:
          type: array
          description: The slicers on this sheet.
          items:
            $ref: '#/components/schemas/Slicer'
          example: []
    GridProperties:
      type: object
      description: Properties of a grid.
      properties:
        rowCount:
          type: integer
          description: The number of rows in the grid.
          example: 10
        columnCount:
          type: integer
          description: The number of columns in the grid.
          example: 10
        frozenRowCount:
          type: integer
          description: The number of rows that are frozen in the grid.
          example: 10
        frozenColumnCount:
          type: integer
          description: The number of columns that are frozen in the grid.
          example: 10
        hideGridlines:
          type: boolean
          description: True if the grid is not showing gridlines in the UI.
          example: true
        rowGroupControlAfter:
          type: boolean
          description: True if the row grouping control toggle is shown after the group.
          example: true
        columnGroupControlAfter:
          type: boolean
          description: True if the column grouping control toggle is shown after the group.
          example: true
    DataFilter:
      type: object
      description: Filter that describes what data should be selected or returned from a request.
      properties:
        developerMetadataLookup:
          $ref: '#/components/schemas/DeveloperMetadataLookup'
        a1Range:
          type: string
          description: Selects data that matches the specified A1 range.
          example: example_value
        gridRange:
          $ref: '#/components/schemas/GridRange'
    PivotGroup:
      type: object
      description: A single grouping (either row or column) in a pivot table.
      properties:
        sourceColumnOffset:
          type: integer
          description: The column offset of the source range that this grouping is based on.
          example: 10
        showTotals:
          type: boolean
          description: True if the pivot table should include the totals for this grouping.
          example: true
        sortOrder:
          type: string
          description: The order the values in this group should be sorted.
          enum:
          - SORT_ORDER_UNSPECIFIED
          - ASCENDING
          - DESCENDING
          example: SORT_ORDER_UNSPECIFIED
        valueBucket:
          $ref: '#/components/schemas/PivotGroupSortValueBucket'
        repeatHeadings:
          type: boolean
          description: True if the headings in this pivot group should be repeated.
          example: true
        label:
          type: string
          description: The labels to use for the row/column groups which can be customized.
          example: Example Title
        groupRule:
          $ref: '#/components/schemas/PivotGroupRule'
        groupLimit:
          $ref: '#/components/schemas/PivotGroupLimit'
        dataSourceColumnReference:
          $ref: '#/components/schemas/DataSourceColumnReference'
    SpreadsheetTheme:
      type: object
      description: Represents spreadsheet theme.
      properties:
        primaryFontFamily:
          type: string
          description: Name of the primary font family.
          example: example_value
        themeColors:
          type: array
          description: The spreadsheet theme color pairs.
          items:
            type: object
            properties:
              colorType:
                type: string
                enum:
                - THEME_COLOR_TYPE_UNSPECIFIED
                - TEXT
                - BACKGROUND
                - ACCENT1
                - ACCENT2
                - ACCENT3
                - ACCENT4
                - ACCENT5
                - ACCENT6
                - LINK
              color:
                $ref: '#/components/schemas/ColorStyle'
          example: []
    PivotTable:
      type: object
      description: A pivot table.
      properties:
        source:
          $ref: '#/components/schemas/GridRange'
        rows:
          type: array
          description: Each row grouping in the pivot table.
          items:
            $ref: '#/components/schemas/PivotGroup'
          example: []
        columns:
          type: array
          description: Each column grouping in the pivot table.
          items:
            $ref: '#/components/schemas/PivotGroup'
          example: []
        values:
          type: array
          description: A list of values to include in the pivot table.
          items:
            $ref: '#/components/schemas/PivotValue'
          example: []
        criteria:
          type: object
          description: An optional mapping of filters per source column offset.
          additionalProperties:
            $ref: '#/components/schemas/PivotFilterCriteria'
          example: example_value
        filterSpecs:
          type: array
          description: The filters applied to the source columns before aggregating data.
          items:
            $ref: '#/components/schemas/PivotFilterSpec'
          example: []
        valueLayout:
          type: string
          description: Whether values should be listed horizontally or vertically.
          enum:
          - HORIZONTAL
          - VERTICAL
          example: HORIZONTAL
        dataExecutionStatus:
          $ref: '#/components/schemas/DataExecutionStatus'
        dataSourceId:
          type: string
          description: The ID of the data source the pivot table is reading data from.
          example: '500123'
    DataSourceColumnReference:
      type: object
      description: An unique identifier that references a data source column.
      properties:
        name:
          type: string
          description: The display name of the column.
          example: Example Title
    BooleanCondition:
      type: object
      description: A condition that can evaluate to true or false.
      properties:
        type:
          type: string
          description: The type of condition.
          enum:
          - CONDITION_TYPE_UNSPECIFIED
          - NUMBER_GREATER
          - NUMBER_GREATER_THAN_EQ
          - NUMBER_LESS
          - NUMBER_LESS_THAN_EQ
          - NUMBER_EQ
          - NUMBER_NOT_EQ
          - NUMBER_BETWEEN
          - NUMBER_NOT_BETWEEN
          - TEXT_CONTAINS
          - TEXT_NOT_CONTAINS
          - TEXT_STARTS_WITH
          - TEXT_ENDS_WITH
          - TEXT_EQ
          - TEXT_IS_EMAIL
          - TEXT_IS_URL
          - DATE_EQ
          - DATE_BEFORE
          - DATE_AFTER
          - DATE_ON_OR_BEFORE
          - DATE_ON_OR_AFTER
          - DATE_BETWEEN
          - DATE_NOT_BETWEEN
          - DATE_IS_VALID
          - ONE_OF_RANGE
          - ONE_OF_LIST
          - BLANK
          - NOT_BLANK
          - CUSTOM_FORMULA
          - BOOLEAN
          - TEXT_NOT_EQ
          - DATE_NOT_EQ
          - FILTER_EXPRESSION
          example: CONDITION_TYPE_UNSPECIFIED
        values:
          type: array
          description: The values of the condition. The number of supported values depends on the condition type.
          items:
            $ref: '#/components/schemas/ConditionValue'
          example: []
  responses:
    NotFound:
      description: The requested spreadsheet or range was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TooManyRequests:
      description: Rate limit exceeded. Too many requests in a given amount of time.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: The caller does not have permission to access the requested resource.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    spreadsheetId:
      name: spreadsheetId
      in: path
      description: The ID of the spreadsheet to retrieve or modify.
      required: true
      schema:
        type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authentication for accessing user spreadsheets.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/spreadsheets: Read and write access to all spreadsheets.
            https://www.googleapis.com/auth/spreadsheets.readonly: Read-only access to all spreadsheets.
            https://www.googleapis.com/auth/drive: Full access to Google Drive files.
            https://www.googleapis.com/auth/drive.readonly: Read-only access to Google Drive files.
            https://www.googleapis.com/auth/drive.file: Access to files created or opened by the app.
    apiKey:
      type: apiKey
      in: query
      name: key
      description: API key for accessing public spreadsheets without user authentication.
externalDocs:
  description: Google Sheets API documentation
  url: https://developers.google.com/sheets/api
